<script setup>
import AddCategory from './category_components/AddCategory.vue';
import CategoryHeader from './category_components/CategoryHeader.vue'
import CategoryList from './category_components/CategoryList.vue'
</script>

<template>
  <CategoryHeader />
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">
          <AddCategory />
        </div>
        <div class="col-md-9">
          <CategoryList  />
        </div>
      </div>
      <!-- .col// -->
    </div>
    <!-- .row // -->
  </div>
  <!-- card body .// -->

</template>
