<template>
  <div class="content-header">
    <h2 class="content-title">Users</h2>
    <div>
      <input v-model="userStore.searchQuery" type="text" placeholder="Search Users..." class="form-control bg-white" />
    </div>
  </div>
</template>

<script setup>
import { useUserStore } from '@/js/stores/user';

const userStore = useUserStore()
</script>
