<template>
  <div class="card mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Mobile No</th>
              <th>Is Verified</th>
              <th class="text-end">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr v-if="isLoading">
              <td class="text-center" colspan="6">
                Loading Users...
              </td>
            </tr>

            <tr v-if="!isLoading && !userStore.searchQuery?.length && !userStore.users.length">
              <td class="text-center" colspan="6">
                No Users registered yet!
              </td>
            </tr>

            <tr v-if="!isLoading && userStore.searchQuery?.length && !filteredUsers.length">
              <td class="text-center" colspan="6">
                No Users found!
              </td>
            </tr>

            <tr  v-for="(user,i) in filteredUsers" :key="i">
              <td width="40%">
                <a class="itemside">
                  <div class="left">
                    <img :src="user.profile_image" class="img-sm img-avatar" alt="image" />
                  </div>
                  <div class="info pl-3">
                    <h6 class="mb-0 title">{{ user.name }}</h6>
                  </div>
                </a>
              </td>
              <td>{{ user.email }}</td>
              <td>{{ user.mobile }}</td>
              <td>
                <span v-if="user.is_verified" class="badge rounded-pill alert-success">Verified</span>
                <span v-else class="badge rounded-pill alert-danger">Not Verified</span>
              </td>
              <td class="text-end">
                <a v-if="user.status === 'BLOCK'" @click="unBlockUser(user.id)" class="btn btn-sm btn-danger rounded font-sm">Unblock</a>
                <a v-else @click="blockUser(user.id)" class="btn btn-sm btn-danger rounded font-sm">Block</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div v-if="userStore.meta.links" class="pagination-area mt-30 mb-50">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-start">
        <li v-for="(link,i) in userStore.meta.links" :class="{ 'page-item': true, 'active': link.active }" :key="i">
          <button class="page-link" @click="() => handlePageChange(link.label)">{{ link.label.includes('Next') ? '>'
    :
    link.label.includes('Previous') ?
      '<' : link.label
}}</button>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script setup>
import { ref, computed } from 'vue'
import { useUserStore } from '@/js/stores/user';
import swal from 'sweetalert';
import toastr from "toastr";

const userStore = useUserStore()
const isLoading = ref(false)
const currentPage = ref(1)

const filteredUsers = computed(() => {
    return userStore.users.filter(user => {
        const lowerCaseSearchQuery = userStore.searchQuery.toLowerCase();

        return user.email.toLowerCase()
        .includes(lowerCaseSearchQuery) || user.name.toLowerCase().includes(lowerCaseSearchQuery) || user.mobile_no?.includes(lowerCaseSearchQuery);
    });
})

getAllUsers()

async function getAllUsers() {
    try {
        isLoading.value = true
        await userStore.fetchUsers({page: currentPage.value, role: 'customer'})
    } catch (e) {
        // TODO: handle error
    } finally {
        isLoading.value = false
    }
}

async function blockUser(id) {
    swal({
        title: "Are you sure?",
        text: "Yo want to block this user?",
        icon: "warning",
        buttons: true,
        dangerMode: true,
    })
    .then(async (willApprove) => {
        if (willApprove) {
            try {
                await userStore.blockUser(id)
                toastr.success('User Blocked successfully', 'Success')
            } catch (e) {
                // TODO: handle error
            } finally {

            }
        }
    });
}

async function unBlockUser(id) {
    swal({
        title: "Are you sure?",
        text: "Yo want to unblock this user?",
        icon: "warning",
        buttons: true,
        dangerMode: true,
    })
    .then(async (willApprove) => {
        if (willApprove) {
            try {
                await userStore.unblockUser(id)
                toastr.success('User Unblocked successfully', 'Success')
            } catch (e) {
                // TODO: handle error
            } finally {

            }
        }
    });
}

async function handlePageChange(label) {
    let nextPage = '';
    if (label.includes('Next')) {
        nextPage = currentPage.value + 1;
    } else if (label.includes('Previous')) {
        nextPage = currentPage.value - 1;
    } else {
        nextPage = label;
    }

    if (1 <= nextPage && nextPage <= userStore.meta.last_page) {
        currentPage.value = nextPage;
        getAllUsers();
    }
}

</script>


