<template>
    <div class="content-header">
      <h2 class="content-title">Subscribers</h2>
    </div>
    <div class="card mb-4">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile No</th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="isLoading">
                <td class="text-center" colspan="6">
                  Loading Subscriber...
                </td>
              </tr>
  
              <tr v-if="!isLoading && !subscriberStore.searchQuery?.length && !subscriberStore.subscriber.length">
                <td class="text-center" colspan="6">
                  No Subscriber registered yet!
                </td>
              </tr>
  
              <tr v-if="!isLoading && subscriberStore.searchQuery?.length && !filteredSubscriber.length">
                <td class="text-center" colspan="6">
                  No Subscriber found!
                </td>
              </tr>
  
              <tr  v-for="(user,i) in filteredSubscriber" :key="i">
                <td width="40%">
                  <a class="itemside">
                    <div class="left">
                      <img :src="user.user.profile_image" class="img-sm img-avatar" alt="image" />
                    </div>
                    <div class="info pl-3">
                      <h6 class="mb-0 title">{{ user.user.name }}</h6>
                    </div>
                  </a>
                </td>
                <td>{{ user.user.email }}</td>
                <td>{{ user.user.mobile }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div v-if="subscriberStore.meta.links" class="pagination-area mt-30 mb-50">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-start">
          <li v-for="(link,i) in subscriberStore.meta.links" :class="{ 'page-item': true, 'active': link.active }" :key="i">
            <button class="page-link" @click="() => handlePageChange(link.label)">{{ link.label.includes('Next') ? '>'
      :
      link.label.includes('Previous') ?
        '<' : link.label
        }}</button>
          </li>
        </ul>
      </nav>
    </div>
  </template>
  
  <script setup>
  import { ref, computed } from 'vue'
  import { useSubscriberStore } from '@/js/stores/subscriber';
  import swal from 'sweetalert';
  import toastr from "toastr";
  
  const subscriberStore = useSubscriberStore()
  const isLoading = ref(false)
  const currentPage = ref(1)
  
  const filteredSubscriber = computed(() => {
      return subscriberStore.subscriber.filter(user => {
        console.log(user)
          const lowerCaseSearchQuery = subscriberStore.searchQuery.toLowerCase();
  
          return user.user.email.toLowerCase()
          .includes(lowerCaseSearchQuery) || user.user.name.toLowerCase().includes(lowerCaseSearchQuery) || user.user.mobile_no?.includes(lowerCaseSearchQuery);
      });
  })
  
  getAllSubscriber()
  
  async function getAllSubscriber() {
      try {
          isLoading.value = true
          await subscriberStore.fetchSubscriber({page: currentPage.value})
      } catch (e) {
          // TODO: handle error
      } finally {
          isLoading.value = false
      }
  }
  
  async function handlePageChange(label) {
      let nextPage = '';
      if (label.includes('Next')) {
          nextPage = currentPage.value + 1;
      } else if (label.includes('Previous')) {
          nextPage = currentPage.value - 1;
      } else {
          nextPage = label;
      }
  
      if (1 <= nextPage && nextPage <= subscriberStore.meta.last_page) {
          currentPage.value = nextPage;
          getAllSubscriber();
      }
  }
  
  </script>
  
  
  