<template>
<section class="content-main">
    <div class="content-header">
        <h2 class="content-title">{{isEdit ? 'Edit' : 'Create'}} Product</h2>
        <div>
            <a @click="handleSubmit" class="btn btn-primary">Save</a>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <ShowError v-if="errors.length" :errors="errors"/>
            <div class="mt-2">
                <form enctype="multipart/form-data" @submit.prevent="handleSubmit" class="row">
                    <div class="mb-4 col-md-6">
                        <label for="product_title" class="form-label">Title</label>
                        <input v-model="productStore.currentProduct.title" type="text" class="form-control" id="product_title" />
                    </div>
                    <div class="mb-4 col-md-6">
                        <label for="product_sub_title" class="form-label">Sub Title</label>
                        <input v-model="productStore.currentProduct.subtitle" type="text" class="form-control" id="product_sub_title" />
                    </div>
                    <div class="mb-4">
                        <label for="category_id" class="form-label">Category</label>
                        <select v-model="productStore.currentProduct.category_id" class="form-control input-sm" name="category_id">
                            <option v-for="category in categoryStore.categories" :key="category.id" :value="category.id">{{category.name}}</option>
                        </select>
                    </div>
                    <div class="mb-4 col-md-6">
                        <label for="description" class="form-label">Description</label>
                        <textarea v-model="productStore.currentProduct.description" class="form-control" id="description"></textarea>
                    </div>
                    <div class="mb-4 col-md-6">
                        <label for="short_description" class="form-label">Short Description</label>
                        <textarea v-model="productStore.currentProduct.short_description" class="form-control" id="short_description"></textarea>
                    </div>

                    <div class="mb-4 col-md-6">
                        <label for="display_price" class="form-label">Display Price($)</label>
                        <input v-model="productStore.currentProduct.display_price" type="text" class="form-control" name="display_price" :disabled="is_admin == 1 ? true : false"/> 

                    </div>
                    <div class="mb-4 col-md-6">
                        <label for="selling_price" class="form-label">Selling Price($)</label>
                        <input v-model="productStore.currentProduct.selling_price" type="text" class="form-control" name="selling_price" :disabled="is_admin == 1 ? true : false"/>
                    </div>
                    <div class="mb-4 col-md-6">
                        <label for="used_material	" class="form-label">Used Materials</label>
                        <input v-model="productStore.currentProduct.used_material	" type="text" class="form-control" name="used_material" />
                    </div>
                    <div class="mb-4 col-md-6">
                        <label for="manufactured_in" class="form-label">Manufactured In</label>
                        <input v-model="productStore.currentProduct.manufactured_in" type="text" class="form-control" name="manufactured_in" />
                    </div>
                    <div class="mb-4 col-md-6">
                        <label for="manufactured_by" class="form-label">Manufactured By</label>
                        <input v-model="productStore.currentProduct.manufactured_by" type="text" class="form-control" name="manufactured_by" />
                    </div>
                    <div class="mb-4 col-md-6">
                        <label for="sustainability_statement" class="form-label">Sustainability Statement</label>
                        <input v-model="productStore.currentProduct.sustainability_statement" type="text" class="form-control" name="sustainability_statement" />
                    </div>
                    <div v-if="!isEdit" class="mb-4">
                        <label for="formFile" class="form-label">Images</label>
                        <input class="form-control px-2" type="file" id="formFile" @change="handleIconChange($event)" ref="productImages"  multiple="multiple">
                    </div>
                    <div class="mb-4">
                        <label class="form-label">Specifications</label>
                        <!-- <div class="d-flex justify-content-between">
                        </div> -->
                        <Specification v-if="productStore.currentProduct.specification.length" v-for="(spec,i) in productStore.currentProduct.specification" :key="spec" :index="i" @remove="removeSpec"/>
                        <div v-else class="text-center"> No Specifications</div>
                        <a class="form-label float-end" @click="addSpecification">+ Add Specification</a>

                    </div>
                    <div class="d-grid gap-2 d-md-block">
                        <button :disabled="isSubmitting" type="submit" class="btn btn-primary">
                            <span v-if="isSubmitting">{{ productStore.isEdit ? 'Updating...' : 'Creating...' }}</span>
                            <span v-else>{{ productStore.isEdit? 'Update': 'Save' }}</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <ProductImages v-if="isEdit" :product="product"/>
</section>
</template>

<script setup>
import {ref} from 'vue'
import ShowError from '@/js/components/common/ShowError.vue';
import { useProductStore } from '@/js/stores/product'
import { useCategoryStore } from '@/js/stores/category'
import { useUtilitiesStore } from '@/js/stores/utilities'
import Specification from './Specification.vue';
import ProductImages from './ProductImages.vue';
import toastr from "toastr";

const productStore = useProductStore()
const categoryStore = useCategoryStore()
const utilitiesStore = useUtilitiesStore()

const isSubmitting = ref(false)
const isInvalid = ref(false)
const errors = ref([])
const specification = { key: '', value: '' }

const props = defineProps({
    product: {
        type: Object,
        default: null
    },
    isEdit: {
        type: Boolean,
        default: false
    },
    is_admin: {
        type: Number,
        default: null
    },
})

fetchCategories()

if(props.isEdit) {
    fetchProduct()
}

async function fetchCategories(e) {
   await categoryStore.fetchCategories()
}

async function fetchProduct() {
   await productStore.fetchProduct(JSON.parse(props.product.id))
}

function addSpecification(e) {
    productStore.currentProduct.specification.push({...specification})
}

function removeSpec(i) {
    productStore.currentProduct.specification.splice(i,1)
}

function handleIconChange(e) {
    const files = e.target.files;
    if (!files || !files[0]) return;

    for (let i = 0; i < files.length; i++) {
        productStore.currentProduct.media.push(files[i])
    }
}

function prepareFormData(obj) {
    const formData = new FormData()

    if(!props.isEdit) {
        for(let i=0; i< obj.media.length; i++) {
            formData.append('media[]', obj.media[i])
        }
    }
    formData.append('title', obj.title)
    formData.append('subtitle', obj.subtitle)
    formData.append('category_id', obj.category_id)
    formData.append('used_material', obj.used_material)
    formData.append('manufactured_in', obj.manufactured_in)
    formData.append('manufactured_by', obj.manufactured_by)
    formData.append('sustainability_statement', obj.sustainability_statement)
    formData.append('description', obj.description)
    formData.append('short_description', obj.short_description)
    formData.append('display_price', obj.display_price)
    formData.append('selling_price', obj.selling_price)
    formData.append('specification', JSON.stringify(obj.specification))
    return formData
}

async function handleSubmit() {
    isInvalid.value = false
    const formData = prepareFormData(productStore.currentProduct)
    isSubmitting.value = true

    try {
        if(props.isEdit) {
            await productStore.updateProduct(productStore.currentProduct.id, productStore.currentProduct)
            toastr.success('Product Updated successfully', 'Success')
        }
        else {
            await productStore.addProduct(formData)
            toastr.success('Product Created successfully', 'Success')
        }

        location.replace('/admin/products')
    } catch (err) {
        isInvalid.value = true
        let errs = JSON.parse(JSON.stringify(err.response.data.errors))
        errors.value = []
        for (const i in errs)
            errors.value.push(errs[i][0])
    // TODO: handle err
    } finally {
        isSubmitting.value = false;
    }
}
</script>
