<template>
    <div class="card mb-4">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Title</th>
                <th>Slug</th>
                <th>Category</th>
                <th v-if="is_admin==1">Seller</th>
                <th>Popular</th>
                <th>Is Featured</th>
                <th>Is Approved</th>
                <th class="text-end">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="isLoading">
                <td class="text-center" colspan="6">
                  Loading Products...
                </td>
              </tr>

              <tr v-if="!isLoading && !productStore.searchQuery?.length && !productStore.products.length">
                <td class="text-center" colspan="6">
                  No Products yet!
                </td>
              </tr>

              <tr v-if="!isLoading && productStore.searchQuery?.length && !filteredProducts.length">
                <td class="text-center" colspan="6">
                  No Products found!
                </td>
              </tr>

              <tr  v-for="(product,i) in filteredProducts" :key="i">
                <td width="40%">
                    <!-- <div class="left">
                      <img :src="product.profile_image" class="img-sm img-avatar" alt="image" />
                    </div> -->
                    <div class="info pl-3">
                      <h5 class="mb-0 title">{{ product.title }}</h5>
                      <h6 class="mb-0 sub-title">{{ product.subtitle }}</h6>
                    </div>
                </td>
                <td>{{ product.slug }}</td>
                <td>{{ product.category.name }}</td>
                <td v-if="is_admin==1">{{ product.seller.name }}</td>
                <td v-if="is_admin==1">
                    <!-- <div class="form-check form-switch">
                        <input v-if="product.is_popular" class="form-check-input" @click="changePopular(product.id, 'unpopular')" type="checkbox" checked>
                        <input v-else class="form-check-input" @click="changePopular(product.id, 'unpopular')" type="checkbox">
                    </div> -->
                  <a v-if="product.is_popular" @click="changePopular(product.id, 'unpopular')" class="btn btn-primary px-2 py-1 font-sm btn-sm">Popular</a>
                  <a v-else @click="changePopular(product.id, 'popular')" class="btn btn-light px-2 py-1 font-sm btn-sm">Unpopular</a>
                </td>
                <td v-else>
                  <span v-if="product.is_popular" class="badge rounded-pill alert-success">Popular</span>
                  <span v-else class="badge rounded-pill alert-danger">Unpopular</span>
                </td>
                <td v-if="is_admin==1">
                  <a v-if="product.is_featured" @click="changeFeatured(product.id, 'unfeatured')" class="btn btn-primary px-2 py-1 font-sm btn-sm">Featured</a>
                  <a v-else @click="changeFeatured(product.id, 'featured')" class="btn btn-light px-2 py-1 font-sm btn-sm">Unfeatured</a>
                </td>
                <td v-else>
                  <span v-if="product.is_featured" class="badge rounded-pill alert-success">Featured</span>
                  <span v-else class="badge rounded-pill alert-danger">Unfeatured</span>
                </td>
                <td>
                  <span v-if="product.is_approved" class="badge rounded-pill alert-success">Released</span>
                  <span v-else class="badge rounded-pill alert-danger">Unlisted</span>
                </td>
                <td class="text-end">
                    <div class="dropdown">
                        <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm">
                            <i class="material-icons md-more_horiz"></i>
                        </a>
                        <div class="dropdown-menu">
                          <div v-if="is_admin==1">
                            <a v-if="product.is_approved" class="dropdown-item" @click="rejectProduct(product.id)">Unlist</a>
                            <a v-else class="dropdown-item" @click="approveProduct(product.id)">Release</a>
                          </div>
                            <a :href="`/admin/products/${product.id}/edit`" class="dropdown-item">Edit</a>
                            <a class="dropdown-item" @click="deleteProduct(product.id)">Delete</a>
                        </div>
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div v-if="productStore.meta.links" class="pagination-area mt-30 mb-50">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-start">
          <li v-for="link in productStore.meta.links" :class="{ 'page-item': true, 'active': link.active }">
            <button class="page-link" @click="() => handlePageChange(link.label)">{{ link.label.includes('Next') ? '>'
              :
              link.label.includes('Previous') ?
                '<' : link.label
            }}</button>
          </li>
        </ul>
      </nav>
    </div>
  </template>

<script setup>
import swal from 'sweetalert';
import {ref, computed} from 'vue'
import { useProductStore } from '@/js/stores/product'
import toastr from "toastr";

const props = defineProps({
  is_admin: {
    type: Number,
    default: null
  },
})

const currentPage = ref(1)
const isLoading = ref(false)
const productStore = useProductStore()

getAllProducts()

const filteredProducts = computed(() => {
    return productStore.products.filter(product => {
        const lowerCaseSearchQuery = productStore.searchQuery.toLowerCase();

        return product.title.toLowerCase()
            .includes(lowerCaseSearchQuery) || product.title.toLowerCase().includes(lowerCaseSearchQuery) || product.subtitle?.includes(lowerCaseSearchQuery);
    });
})

async function getAllProducts() {
    try {
        isLoading.value = true
        await productStore.fetchProducts({page: currentPage.value})
    } catch (e) {
        // TODO: handle error
    } finally {
        isLoading.value = false
    }
}

async function approveProduct(id) {
    swal({
        title: "Are you sure?",
        text: "Do you want to release this product? Doing this will make product appear on website",
        icon: "warning",
        buttons: true,
        dangerMode: true,
    })
    .then(async (willApprove) => {
        if (willApprove) {
            try {
                await productStore.approveProduct(id)
                toastr.success('Product released successfully', 'Success')
            } catch (e) {
                // TODO: handle error
            } finally {

            }
        }
    });
}

async function rejectProduct(id) {
    swal({
        title: "Are you sure?",
        text: "Do you want to unlist this product? Doing this will unlist product from website",
        icon: "warning",
        buttons: true,
        dangerMode: true,
    })
    .then(async (willReject) => {
        if(willReject) {
            try {
                await productStore.rejectProduct(id)
                toastr.success('Product unlisted successfully', 'Success')
            } catch (e) {
                // TODO: handle error
            } finally {
            }
        }
    })
}

async function deleteProduct(id) {
    swal({
        title: "Are you sure?",
        text: "Yo want to delete this product?",
        icon: "warning",
        buttons: true,
        dangerMode: true,
    })
    .then(async (willReject) => {
        if(willReject) {
            try {
                await productStore.deleteProduct(id)
                toastr.success('Product deleted successfully', 'Success')
            } catch (e) {
                // TODO: handle error
            } finally {
            }
        }
    })
}

async function handlePageChange(label) {
    let nextPage = '';
    if (label.includes('Next')) {
        nextPage = currentPage.value + 1;
    } else if (label.includes('Previous')) {
        nextPage = currentPage.value - 1;
    } else {
        nextPage = label;
    }

    if (1 <= nextPage && nextPage <= productStore.meta.last_page) {
        currentPage.value = nextPage;
        getAllProducts();
    }
}

async function changePopular(id, text) {
    swal({
        title: "Are you sure?",
        text: "Do you want to make this product "+text,
        icon: "info",
        buttons: true,
        dangerMode: false,
    })
    .then(async (willApprove) => {
        if (willApprove) {
            try {
                await productStore.changePopular(id)
                toastr.success('Product successfully maked as '+text, 'Success')
            } catch (e) {
                // TODO: handle error
            } finally {

            }
        }
    });
}

async function changeFeatured(id, text) {
    swal({
        title: "Are you sure?",
        text: "Do you want to make this product "+text,
        icon: "info",
        buttons: true,
        dangerMode: false,
    })
    .then(async (willApprove) => {
        if (willApprove) {
            try {
                await productStore.changeFeatured(id)
                toastr.success('Product successfully maked as '+text, 'Success')
            } catch (e) {
                // TODO: handle error
            } finally {

            }
        }
    });
}
</script>
