<template>
    <section>
        <ShowError v-if="errors.length" :errors="errors"/>
        <div class="card mb-4">
            <div class="card-body">
                <label for="formFile" class="form-label">Add New Images</label>
                <input class="form-control px-2" type="file" id="formFile" @change="handelImageChange($event)" :disabled="isUploading">
                <span v-if="isUploading">Uploading image ...</span>
            </div>
            <div class="row container">
                <label for="formFile" class="form-label">All Images</label>
                <div v-for="image in productStore.productImages" :key="image.id"  class="col-lg-4 col-sm-6 mb-1">
                    <div class="card p-10 position-relative">
                       <img class="" :src="image.path" alt="product-image" style="width:100%">
                        <a  @click="deleteImage(image.id)" class="position-absolute">
                            <i class="icon material-icons md-delete text-danger"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script setup>
import swal from 'sweetalert';
import ShowError from '@/js/components/common/ShowError.vue';
import { ref } from 'vue'
import { useProductStore } from '@/js/stores/product'

const props = defineProps({
    product: {
        type: Object,
        default: null
    },
})

const errors = ref([])
const isInvalid = ref(false)
const isUploading = ref(false)
const productStore = useProductStore()

fetchImages()

async function handelImageChange(e) {
    const files = e.target.files;
    if (!files || !files[0]) return;

    isInvalid.value = false
    isUploading.value = true
    const formData = new FormData()
    for (let i = 0; i < files.length; i++) {
        formData.append('media', files[i])
    }
    try {
        await productStore.uploadImages(props.product.id, formData)
    } catch (err) {
        console.log(err);
        isInvalid.value = true
        let errs = JSON.parse(JSON.stringify(err.response.data.errors))
        errors.value = []
        for (const i in errs)
            errors.value.push(errs[i][0])
    } finally {
        isUploading.value = false
    }
}

async function deleteImage(id) {
    swal({
        title: "Are you sure?",
        text: "Yo want to remove this product image?",
        icon: "warning",
        buttons: true,
        dangerMode: true,
    })
    .then(async (willDelete) => {
        if (willDelete) {
            try {
                await productStore.deleteProductImage(props.product.id, id)
                
                toastr.success('Product image deleted successfully', 'Success')
            } catch (e) {
                // TODO: handle error
            } finally {

            }
        }
    });
}

async function fetchImages() {
    await productStore.fetchProductImages(props.product.id)
    // productStore.productImages = productStore.productImages.map((i) => {
    //     return {...i, path: i.path.replace('http://small-mall.test', 'http://127.0.0.1:8000') }
    //     //
    // })
}
</script>
