<template>
    <div class="content-header">
      <h2 class="content-title">Products</h2>
      <div>
        <div v-if="is_admin == 0">
            <a href="/admin/products/create" class="btn btn-primary">Add Product</a>
        </div>
        <input
            v-model="productStore.searchQuery"
            type="text"
            placeholder="Search Product..."
            class="form-control bg-white"
        />
      </div>
    </div>
  </template>

  <script setup>
import { useProductStore } from '@/js/stores/product';


const props = defineProps({
  is_admin: {
    type: Number,
    default: null
  },
})

  const productStore = useProductStore()
  </script>
