<template>
        <div  class="row position-relative">
            <div class="mb-4 col-md-6">
                <label for="product_title" class="form-label">Key</label>
                <input v-model="productStore.currentProduct.specification[index].key" type="text" class="form-control" id="product_title" />
            </div>
            <div class="mb-4 col-md-6">
                <a class=" float-end text-danger" @click="emit('remove', index)">X</a>
                <label for="product_sub_title" class="form-label">Value</label>
                <input v-model="productStore.currentProduct.specification[index].value" type="text" class="form-control" id="product_sub_title" />

            </div>
        </div>

</template>

<script setup>
import { useProductStore } from '@/js/stores/product';

const emit = defineEmits(['remove'])
const props = defineProps({
    index: {
        type: Number,
        default: null
    }
})
const productStore = useProductStore()

</script>
