<script setup>
import BrandSubscriberHeader from './components/BrandSubscriberHeader.vue';
import BrandSubscriberList from './components/BrandSubscriberList.vue';

const props = defineProps({
  is_seller: {
    type: Number,
    default: null
  },
})

</script>

<template>
  <BrandSubscriberHeader :is_seller="is_seller"/>
  <BrandSubscriberList :is_seller="is_seller"/>
</template>
