.product-cart-wrap .product-card-bottom .remove-cart .remove {
    position: relative;
    display: inline-block;
    padding: 6px 20px 6px 20px;
    border-radius: 4px;
    background-color: #f9dede;
    font-size: 14px;
    font-weight: 700;
}
.product-content-wrap .remove{
    background-color: #ca1b1b;
}
.product-extra-link2 .button.button-remove-cart {
    position: relative;
    padding: 0px 20px;
    border-radius: 5px;
    border: 0;
    height: 50px;
    line-height: 50px;
    font-weight: 700;
    font-size: 16px;
    font-family: "Quicksand", sans-serif;
}
.product-extra-link2 .button.button-remove-cart{
    background-color: #d91515;
}
a.remove-wishlist {
    background-color: #111FA3 !important;
    color: #fff !important;
}
.list-qty {
    max-width: 65px !important;
    padding: 5px 8px !important;
}
.input-sm, select.input-sm {
    height: 35px;
    line-height: 20px;
}
.error{
    color:red;
}
.place_order.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}

.star-rating {
    direction: rtl;
    display: inline-block;
    padding: 20px;
    cursor: default;
}
.star-rating input[type="radio"] {
    display: none;
}
  
.star-rating label {
    color: #bbb;
    font-size: 2rem;
    padding: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
  
.star-rating label:hover,
.star-rating  label:hover ~ label,
.star-rating input[type="radio"]:checked ~ label {
    color: #f2b600;
}

.search-style-custom .select2-container--default .select2-selection--single{
    width: 148px !important;
}
.search-style-custom .select2-container--default .select2-selection--single .select2-selection__rendered:after{
    content:unset !important;
}
.btn-subscribe{
    background-color : #b5121e !important;
}
.btn-unsubscribe{
    background-color : #858588 !important;
}