<template>
    <div class="card mb-4">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Title</th>
                <th>Slug</th>
                <th>Category</th>
                <th v-if="is_admin==1">Seller</th>
                <th>Rating</th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="isLoading">
                <td class="text-center" colspan="6">
                  Loading Products...
                </td>
              </tr>

              <tr v-if="!isLoading && !productStore.searchQuery?.length && !productStore.products.length">
                <td class="text-center" colspan="6">
                  No Products yet!
                </td>
              </tr>

              <tr v-if="!isLoading && productStore.searchQuery?.length && !filteredProducts.length">
                <td class="text-center" colspan="6">
                  No Products found!
                </td>
              </tr>

              <tr  v-for="(product,i) in productStore.products" :key="i">
                <td width="40%">
                    <div class="info pl-3">
                      <h5 class="mb-0 title">{{ product.title }}</h5>
                      <h6 class="mb-0 sub-title">{{ product.subtitle }}</h6>
                    </div>
                </td>
                <td>{{ product.slug }}</td>
                <td>{{ product.category.name }}</td>
                <td>{{ product.seller.name }}</td>
                <td>
                  <span class="badge rounded-pill alert-success">Star {{ product.average_rating }} </span> &nbsp;&nbsp;
                  <span class="badge rounded-pill alert-primary">Review {{ product.reviews.length }}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- <div v-if="productStore.meta.links" class="pagination-area mt-30 mb-50">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-start">
          <li v-for="link in productStore.meta.links" :class="{ 'page-item': true, 'active': link.active }">
            <button class="page-link" @click="() => handlePageChange(link.label)">{{ link.label.includes('Next') ? '>'
              :
              link.label.includes('Previous') ?
                '<' : link.label
            }}</button>
          </li>
        </ul>
      </nav>
    </div> -->
  </template>

<script setup>
import {ref, computed} from 'vue'
import { useProductStore } from '@/js/stores/product'


const props = defineProps({
  is_admin: {
    type: Number,
    default: null
  },
})

const currentPage = ref(1)
const isLoading = ref(false)
const productStore = useProductStore()

getAllProducts()

// const filteredProducts = computed(() => {
//     return productStore.products.filter(product => {
//         const lowerCaseSearchQuery = productStore.searchQuery.toLowerCase();

//         return product.title.toLowerCase()
//             .includes(lowerCaseSearchQuery) || product.title.toLowerCase().includes(lowerCaseSearchQuery) || product.subtitle?.includes(lowerCaseSearchQuery);
//     });
// })

async function getAllProducts() {
    try {
        isLoading.value = true
        await productStore.fetchTopProducts({page: currentPage.value})
    } catch (e) {
        // TODO: handle error
    } finally {
        isLoading.value = false
    }
}

async function handlePageChange(label) {
    let nextPage = '';
    if (label.includes('Next')) {
        nextPage = currentPage.value + 1;
    } else if (label.includes('Previous')) {
        nextPage = currentPage.value - 1;
    } else {
        nextPage = label;
    }

    if (1 <= nextPage && nextPage <= productStore.meta.last_page) {
        currentPage.value = nextPage;
        getAllProducts();
    }
}

</script>
