<template>
    <div class="content-header">
      <h2 class="content-title">Subscribers</h2>
      <div>
        <input
            v-model="productStore.searchQuery"
            type="text"
            placeholder="Search Product..."
            class="form-control bg-white"
        />
      </div>
    </div>
  </template>

  <script setup>
import { useProductStore } from '@/js/stores/product';


const props = defineProps({
  is_seller: {
    type: Number,
    default: null
  },
})

  const productStore = useProductStore()
  </script>
