<script setup>
import OrderHeader from './components/OrderHeader.vue';
import OrderList from './components/OrderList.vue';
import OrderDetail from './components/OrderDetail.vue';
</script>

<template>
  <OrderHeader/>
  <OrderList/>

</template>
