<template>

    <div class="card">
        <div class="card-body">
            <div class="row gx-5">

                <div class="col-lg-10">
                    <section class="content-body p-xl-4">
                        <form>
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="row gx-3">
                                        <div class="col-6 mb-3">
                                            <label class="form-label">First name</label>
                                            <input class="form-control" v-model="profile.name.split(' ')[0]" type="text" placeholder="Type here" />
                                        </div>
                                        <!-- col .// -->
                                        <div class="col-6 mb-3">
                                            <label class="form-label">Last name</label>
                                            <input class="form-control" v-model="profile.name.split(' ')[1]" type="text" placeholder="Type here" />
                                        </div>
                                        <!-- col .// -->
                                        <div class="col-lg-6 mb-3">
                                            <label class="form-label">Email</label>
                                            <input class="form-control" v-model="profile.email" type="email" placeholder="example@mail.com" />
                                        </div>
                                        <!-- col .// -->
                                        <div class="col-lg-6 mb-3">
                                            <label class="form-label">Phone</label>
                                            <input class="form-control" v-model="profile.mobile" type="tel" placeholder="+1234567890" />
                                        </div>
                                        <!-- col .// -->
                                        <div class="col-lg-12 mb-3">
                                            <label class="form-label">Gender</label>
                                            <select class="form-control" name="gender" @change="showval" id="gender" v-model="profile.gender">
                                                <option value="" selected>Select Gender</option>
                                                <option value="male">Male</option>
                                                <option value="female">Female</option>
                                            </select>
                                            <!-- <input class="form-control" v-model="profile.address" type="text" placeholder="Type here" /> -->
                                        </div>
                                        <div class="col-lg-6 mb-3">
                                            <label class="form-label">Date Of Birth</label>
                                            <input class="form-control" type="date" v-model="profile.dob" />
                                        </div>
                                    </div>
                                </div>
                                <aside class="col-lg-4">
                                    <figure class="text-lg-center">
                                        <img class="img-lg mb-3 img-avatar" :src="'../admin-assets/imgs/people/avatar-2.png'" alt="User Photo" />
                                        <figcaption>
                                            <a class="btn btn-light rounded font-md" href="#"> <label style="cursor: pointer;" for="profileImage" ><i class="icons material-icons md-backup font-md"></i> &nbsp; Upload</label> </a>
                                        </figcaption>
                                        <input type="file" style="display: none;" id="profileImage" name="profileImage" @change="handleIconChange($event)" />
                                    </figure>
                                </aside>
                            </div>
                            <br />
                            <button class="btn btn-primary" @click="submitForm" type="submit">Save changes</button>
                        </form>
                        <hr class="my-5" />
                        <div class="row" style="max-width: 920px">
                            <div class="col-md-6 col-sm-12">
                                <article class="box mb-3 bg-light">
                                    <a class="btn float-end btn-light btn-sm rounded font-md" href="#">Change</a>
                                    <h6>Password</h6>
                                    <small class="text-muted d-block" style="width: 70%">You can reset or change your password by clicking here</small>
                                </article>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>

</template>

<script setup>
import swal from 'sweetalert';
import { ref, computed } from 'vue'
import { useProfileStore } from '@/js/stores/profile'
import toastr from "toastr";


const isLoading = ref(false)
const profileStore = useProfileStore()

const props = defineProps({
    profile: {
        type: Object,
        default: null
    },
})

populateData()

async function populateData() {
    console.log(props.profile);
}

const filteredOrders = computed(() => {
    return profileStore.orders.filter(order => {
        const lowerCaseSearchQuery = profileStore.searchQuery.toLowerCase();

        return order.user.name.toLowerCase()
            .includes(lowerCaseSearchQuery) || order.title.toLowerCase().includes(lowerCaseSearchQuery) || order.subtitle?.includes(lowerCaseSearchQuery);
    });
})

async function submitForm() {
    try {
        isLoading.value = true
        await profileStore.submitForm(props.profile)
    } catch (e) {
        // TODO: handle error
    } finally {
        isLoading.value = false
    }
}

function handleIconChange(e) {
    const file = e.target.files;
    // if (!file) return;

    props.profile.profile_image = file;
}

</script>
