<template>
  <form @submit.prevent="handleSubmit">
    <div class="mb-4">
      <label for="category_name" class="form-label">Name</label>
      <input v-model="categoryStore.currentCategory.name" type="text" placeholder="Type here" class="form-control" id="category_name" />
    </div>
    <div class="mb-4">
      <label for="formFile" class="form-label">Icon</label>
      <input class="form-control px-2" type="file" id="formFile" @change="handleIconChange($event)" ref="iconFileInput">
    </div>
    <div class="d-grid gap-2 d-md-block">
        <button v-if="categoryStore.isEdit" class="btn btn-outline-primary me-2" @click="resetCategory">
            Cancel
        </button>
        <button :disabled="isSubmitting" type="submit" class="btn btn-primary">
            <span v-if="isSubmitting">{{ categoryStore.isEdit ? 'Updating...' : 'Creating...' }}</span>
            <span v-else>{{ categoryStore.isEdit? 'Update': 'Create' }}</span>
        </button>
    </div>
  </form>
</template>

<script setup>
import {ref} from 'vue'
import { useCategoryStore } from '@/js/stores/category'
import { useUtilitiesStore } from '@/js/stores/utilities'

const categoryStore = useCategoryStore()
const utilitiesStore = useUtilitiesStore()

const isSubmitting = ref(false)

function handleIconChange(e) {
    const files = e.target.files;
    if (!files || !files[0]) return;

    categoryStore.currentCategory.icon = files[0];
}

async function resetCategory() {
    categoryStore.isEdit = false
    categoryStore.resetCategory()
}

async function handleSubmit() {
    const formData = utilitiesStore.toFormData({
        name: categoryStore.currentCategory.name,
        icon: categoryStore.currentCategory.icon,
        method: 'PUT'
    })
    isSubmitting.value = true

    try {
        if(categoryStore.isEdit)
            await categoryStore.updateCategory(categoryStore.currentCategory.id, formData)
        else
            await categoryStore.addCategory(formData)
    } catch (e) {
        console.log(e);
    // TODO: handle err
    } finally {
        isSubmitting.value = false;
    }
}
</script>
