<template>
  <div class="content-header">
    <div>
      <h2 class="content-title card-title">Categories</h2>
      <p>Add, edit or delete a category</p>
    </div>
    <div>
      <input v-model="categoryStore.searchQuery" type="text" placeholder="Search Categories" class="form-control bg-white" />
    </div>
  </div>
</template>

<script setup>
import { useCategoryStore } from '@/js/stores/category';

const categoryStore = useCategoryStore()
</script>
