<template>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="text-center">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" />
            </div>
          </th>
          <th>ID</th>
          <th>Icon</th>
          <th>Name</th>
          <th>Total Products</th>
          <th class="text-end">Action</th>
        </tr>
      </thead>
      <tbody>

        <tr v-if="isLoadingCategories">
          <td class="text-center" colspan="6">
            Loading Categories...
          </td>
        </tr>

        <!-- Categories -->
        <tr v-if="!isLoadingCategories && !categoryStore.searchQuery?.length && !filteredCategories.length">
          <td class="text-center" colspan="6">
            No Categories Added yet!
          </td>
        </tr>
        <tr  v-for="(category,i) in filteredCategories" :key="i">
          <td class="text-center">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" />
            </div>
          </td>
          <td>{{ category.id }}</td>
          <td>
            <img v-if="category.icon" :src="category.icon" class="img-sm img-thumbnail" alt="Item" />
          </td>
          <td><b>{{ category.name }}</b></td>
          <td>{{ category.totalProduct }}</td>
          <td class="text-end">
            <div class="dropdown">
              <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm">
                <i class="material-icons md-more_horiz"></i>
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">View detail</a>
                <a class="dropdown-item" href="#" @click.prevent="editCategory(category)">Edit info</a>
                <a class="dropdown-item text-danger" href="#" @click.prevent="categoryStore.deleteCategory(category.id)">Delete</a>
              </div>
            </div>
          </td>
        </tr>


        <!-- Search Results -->
        <tr v-if="!isLoadingCategories && categoryStore.searchQuery?.length && !filteredCategories.length">
          <td class="text-center" colspan="6">
            No Categories found
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script setup>
import {ref, computed} from 'vue'
import { useCategoryStore } from '@/js/stores/category'

const categoryStore = useCategoryStore()
const isLoadingCategories = ref(false)

const filteredCategories = computed(() => {
    return  categoryStore.categories.filter(category => {
        return category.name.toLowerCase().includes(categoryStore.searchQuery.toLowerCase());
    });
})

getAllCategories();

async function getAllCategories() {
    try {
        isLoadingCategories.value = true;
        await categoryStore.fetchCategories()
    } catch (e) {
        // TODO: handle error
    } finally {
        isLoadingCategories.value = false;
    }
}

function editCategory(c) {
    categoryStore.isEdit = true
    categoryStore.currentCategory = { ...c }
}
</script>
