<template>
     <!-- <td class="custome-checkbox pl-30">
        <input class="form-check-input" type="checkbox" name="checkbox" :id="'exampleCheckbox'+itemList.id" v-model="allSelected" @click.prevent="select" :value="itemList.id" >
        <label class="form-check-label" :for="'exampleCheckbox'+itemList.id"></label>
    </td> -->
    <td class="image product-thumbnail  pl-30 pt-40">
        <img alt="SmallMall" v-if="itemList.product?.medias?.length" :src="itemList.product.medias[0].full_url" />
        <img alt="SmallMall" v-else src="/web-assets/imgs/shop/thumbnail-3.jpg" />                         
    </td>
    <td class="product-des product-name">
        <h6 class="mb-5"><a class="product-name mb-10 text-heading" :href="'/product/' + itemList.product.slug">{{ itemList.product.title }}</a></h6>
        <div class="sellers">
            <span class="font-small text-muted">By <a href="vendor-details-1.html">{{ itemList.product.seller.name }}</a></span>
        </div>
    </td>
    <td class="price" data-title="Price">
        <h4 class="text-body">${{ itemList.product.selling_price }} </h4>
    </td>
    <td class="text-center detail-info" data-title="Stock">
        <div class="detail-extralink mr-15">
            <div class="detail-qty border radius">
                <a href="#" class="qty-down" @click.prevent="quantityDown($event)"><i class="fi-rs-angle-small-down"></i></a>
                <input type="text" name="quantity" class="qty-val" v-model="itemList.quantity" min="1">
                <a href="#" class="qty-up" @click.prevent="quantityUp($event)"><i class="fi-rs-angle-small-up"></i></a>
            </div>
        </div>
    </td>
    <td class="price" data-title="Price">
        <h4 class="text-brand">${{ itemList.product.selling_price *  itemList.quantity }} </h4>
    </td>
    <td class="action text-center" data-title="Remove"><a href="#" @click.prevent="cartStore.removeItemFromCart(itemList.id)" class="text-body"><i class="fi-rs-trash"></i></a></td>
</template>

<script setup>
    import {ref} from 'vue'
    import { useCartStore } from '@/js/stores/web/cart'

    const cartStore = useCartStore()
    const props = defineProps({
        itemList: {
            type: Object,
            default: null
        },
    })

    async function quantityUp(event) {
        try {
            props.itemList.quantity = props.itemList.quantity + 1;   
            cartStore.updateItemToCart();
            cartStore.updateTotalAmount();
        } catch (e) {
            console.log(e);
        }
    }
    async function quantityDown() {
        try {
            if (props.itemList.quantity > 1) {
                props.itemList.quantity = props.itemList.quantity - 1;   
            } else {
                props.itemList.quantity  = 1;
            }
            cartStore.updateItemToCart();
            cartStore.updateTotalAmount();
        } catch (e) {
            console.log(e);
        }
    }
 
</script>


