<template>
     <div class="row">
            <div class="col-lg-8 mb-40">
                <h1 class="heading-2 mb-10">Your Cart</h1>
                <div class="d-flex justify-content-between">
                    <h6 class="text-body">There are <span class="text-brand">{{cartItems.length}}</span> products in your cart</h6>
                    <h6 class="text-body"><a href="#" @click.prevent="cartStore.removeAllItemFromCart()"  class="text-muted"><i class="fi-rs-trash mr-5"></i>Clear Cart</a></h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="table-responsive shopping-summery" v-if="cartItems?.length">
                    <table class="table table-wishlist">
                        <thead>
                            <tr class="main-heading">
                                <!-- <th class="custome-checkbox start pl-30">
                                    <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox11" @click.prevent="selectAll" v-model="allSelected">
                                    <label class="form-check-label" for="exampleCheckbox11"></label>
                                </th> -->
                                <th class="pl-30" scope="col" colspan="2">Product</th>
                                <th scope="col">Unit Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Subtotal</th>
                                <th scope="col" class="end">Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <tr class="pt-30" v-if="cartItems?.length" v-for="(item,index) in cartItems" :key="index">
                                <cart-list-table :itemList="item"></cart-list-table>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div v-else class="navbar-dropdown is-boxed is-right">
                    <a class="navbar-item" href="">
                        Cart is empty
                    </a>
                </div>
                <div class="divider-2 mb-30"></div>
                <div class="cart-action d-flex justify-content-between">
                    <a class="btn" href="/shop"><i class="fi-rs-arrow-left mr-10"></i>Continue Shopping</a>
                    <!-- <a class="btn  mr-10 mb-sm-15"  v-if="cartItems?.length" @click.prevent="updateItemToCart()"><i class="fi-rs-refresh mr-10"></i>Update Cart</a> -->
                </div>
            </div>
            <div class="col-lg-4">
                <div class="border p-md-4 cart-totals ml-30">
                    <div class="table-responsive">
                        <table class="table no-border">
                            <tbody>
                                <tr>
                                    <td class="cart_total_label">
                                        <h6 class="text-muted">Subtotal</h6>
                                    </td>
                                    <td class="cart_total_amount">
                                        <h4 class="text-brand text-end">${{ totalAmount }}</h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col" colspan="2">
                                        <div class="divider-2 mt-10 mb-10"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="cart_total_label">
                                        <h6 class="text-muted">Shipping</h6>
                                    </td>
                                    <td class="cart_total_amount">
                                        <h5 class="text-heading text-end">Free</h5>
                                    </td> 
                                </tr>
                                <tr>
                                    <td scope="col" colspan="2">
                                        <div class="divider-2 mt-10 mb-10"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="cart_total_label">
                                        <h6 class="text-muted">Total</h6>
                                    </td>
                                    <td class="cart_total_amount">
                                        <h4 class="text-brand text-end">${{ totalAmount }}</h4>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <a href="/checkout" v-if="cartItems?.length && user_id" class="btn mb-20 w-100">Proceed To CheckOut<i class="fi-rs-sign-out ml-15"></i></a>
                    <a href="/login" v-else class="btn mb-20 w-100">Proceed To CheckOut<i class="fi-rs-sign-out ml-15"></i></a>

                </div>
            </div>
        </div>
</template>

<script setup>
import {ref, computed} from 'vue'
import { useCartStore } from '@/js/stores/web/cart'

const cartStore = useCartStore()
const props = defineProps({
    user_id: {
        type: Number,
        default: null
    },
})
const cartItems = computed(() => {
    return  cartStore.carts;
})
const totalAmount = computed(() => {
    return  cartStore.totalAmount;
})
getCartItems();

async function getCartItems() {
    try {
        await cartStore.fetchCart()
    } catch (e) {
        // TODO: handle error
    }
}

</script>
