<template>
    <a class="mini-cart-icon" href="/cart">
        <img alt="SmallMall" src="/web-assets/imgs/theme/icons/icon-cart.svg" />
        <span class="pro-count blue" v-if="cartItems.length">{{
                cartItems.length
        }}</span>
    </a>
    <a href="/cart"><span class="lable">Cart</span></a>
    <div class="cart-dropdown-wrap cart-dropdown-hm2">
        <ul>
            <li v-if="cartItems?.length" v-for="item in cartItems">
                <div class="shopping-cart-img">
                    <a href="/shop">
                        <img alt="SmallMall" v-if="item.product?.medias?.length" :src="item.product.medias[0].full_url" />
                        <img alt="SmallMall" v-else src="/web-assets/imgs/shop/thumbnail-3.jpg" />
                    </a>
                </div>
                <div class=" shopping-cart-title">
                    <h4><a :href="'/product/' + item.product.slug">{{ item.product.title }}</a></h4>
                    <h4><span>{{ item.quantity }} × </span>${{ item.product.selling_price }}</h4>
                </div>
                <div class="shopping-cart-delete">
                    <a href="#" @click.prevent="cartStore.removeItemFromCart(item.id)"><i class="fi-rs-cross-small"></i></a>
                </div>
            </li>
        </ul>
        <div class="shopping-cart-footer">
            <div class="shopping-cart-total">
                <h4>
                    Total <span>${{ totalAmount }}</span>
                </h4>
            </div>
            <div class="shopping-cart-button">
                <a href="/cart" class="outline">View cart</a>
                <a href="/checkout" v-if="user_id" > CheckOut</a>
                <a href="/login" v-else >CheckOut</a>
            </div>
        </div>
    </div>
</template>

<script setup>
    import {ref, computed} from 'vue'
    import { useCartStore } from '@/js/stores/web/cart'

    const cartStore = useCartStore()
    const props = defineProps({
        user_id: {
            type: Number,
            default: null
        },
    })
    const cartItems = computed(() => {
        return  cartStore.carts;
    })
    const totalAmount = computed(() => {
        return  cartStore.totalAmount;
    })
    getCartItems();

    async function getCartItems() {
        try {
            await cartStore.fetchCart()
        } catch (e) {
            // TODO: handle error
        }
    }

</script>

