<template>
    <div class="row">
        <div class="col-lg-8 mb-40">
            <h1 class="heading-2 mb-10">Checkout</h1>
            <div class="d-flex justify-content-between">
                <h6 class="text-body">There are <span class="text-brand">{{cartItems.length}}</span> products in your cart</h6>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props:['user_id'],
    data() {
        return {
            cartItems: [],
        };
    },
    mounted(){
        this.getCartItems();
    },
     methods: {
        async getCartItems() {
            try {
                const response = await axios.post("/api/cart");
                if (response.data.success) {
                    this.cartItems = response.data.data.cart.data;
                } else if (response.data.error) {
                    // TODO: handle error
                }
            } catch (e) {
                // TODO: handle error
            }
        }
    },
};
</script>
