<template>
   <td class="image product-thumbnail">
    <img alt="SmallMall" v-if="itemList.product?.medias?.length" :src="itemList.product.medias[0].full_url" />
        <img alt="SmallMall" v-else src="/web-assets/imgs/shop/thumbnail-3.jpg" />   

   </td>
    <td>
        <h6 class="w-160 mb-5"><a class="text-heading" :href="'/product/' + itemList.product.slug">{{ itemList.product.title }}</a></h6>
        <div class="product-rate-cover">
            <div class="product-rate d-inline-block">
                <div class="product-rating" style="width: 100%" v-if="itemList.product.avg_rating==5"></div>
                    <div class="product-rating" style="width: 90%" v-if="itemList.product.avg_rating>5 && itemList.product.avg_rating>4"></div>
                    <div class="product-rating" style="width: 80%" v-if="itemList.product.avg_rating==4"></div>
                    <div class="product-rating" style="width: 70%" v-if="itemList.product.avg_rating<4 && itemList.product.avg_rating>3"></div>
                    <div class="product-rating" style="width: 60%" v-if="itemList.product.avg_rating==3"></div>
                    <div class="product-rating" style="width: 50%" v-if="itemList.product.avg_rating<3 && itemList.product.avg_rating>2"></div>
                    <div class="product-rating" style="width: 40%" v-if="itemList.product.avg_rating==2"></div>
                    <div class="product-rating" style="width: 30%" v-if="itemList.product.avg_rating<2 && itemList.product.avg_rating>1"></div>
                    <div class="product-rating" style="width: 20%" v-if="itemList.product.avg_rating==1"></div>
                    <div class="product-rating" style="width: 10%" v-if="itemList.product.avg_rating<1 && itemList.product.avg_rating>0"></div>
            </div>
            <span class="font-small ml-5 text-muted"> ({{ itemList.product.avg_rating }})</span>
        </div>
    </td>
    <td>
        <h6 class="text-muted pl-20 pr-20">x {{ itemList.quantity }}</h6>
    </td>
    <td>
        <h4 class="text-brand">${{ itemList.product.selling_price *  itemList.quantity }}</h4>
    </td>
</template>
<script>
export default {
   props:['item','user_id'],
   name: "itemList",
   data() {
       return {
           itemList: this.item,
       };
   },
   mounted(){
   },
   methods: {
       
   },
};
</script>
