<template>
    <div class="border p-40 cart-totals ml-30 mb-50">
        <div class="d-flex align-items-end justify-content-between mb-30">
            <h4>Your Order</h4>
            <h6 class="text-muted">Subtotal</h6>
        </div>
        <div class="divider-2 mb-30"></div>
        <div class="table-responsive order_table checkout">
            <table class="table no-border">
                <tbody>
                    <tr v-if="cartItems?.length" v-for="item in cartItems">
                        <checkout-cart-item-list :item="item" :user_id="this.user_id" ></checkout-cart-item-list>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="divider-2 mb-30"></div>

        <div class="d-flex align-items-end justify-content-between mb-10">
            <h5>Total</h5>
            <h4 class="text-band">${{totalAmount}}</h4>
        </div>
    </div>
</template>
<script>
export default {
    props:['user_id'],
    data() {
        return {
            cartItems: [],
            totalAmount: 0,
        };
    },
    mounted(){
        this.getCartItems();
    },
     methods: {
        async getCartItems() {
            try {
                const response = await axios.post("/api/cart");
                if (response.data.success) {
                    this.cartItems = response.data.data.cart.data;
                    this.totalAmount = response.data.data.total_amount;
                } else if (response.data.error) {
                    // TODO: handle error
                }
            } catch (e) {
                // TODO: handle error
            }
        }
    },
};
</script>
