<template>
   <div class="product-img-action-wrap">
        <div class="product-img product-img-zoom">
            <a :href="'/product/' + itemList.slug">
                <!-- <img class="default-img" v-if="itemList.product?.medias?.length" :src="itemList.product.medias[0].path" src="web-assets/imgs/shop/product-1-1.jpg" alt="" />
                <img alt="SmallMall" v-else src="/web-assets/imgs/shop/product-1-1.jpg" />
                <img class="hover-img" src="web-assets/imgs/shop/product-1-2.jpg" alt="" /> -->
                <img class="default-img" alt="SmallMall" v-if="itemList?.medias?.length" :src="itemList.medias[0].full_url"  />
                <img alt="SmallMall" v-else src="/web-assets/imgs/shop/product-1-1.jpg" />
                <img class="hover-img" alt="SmallMall" v-if="itemList?.medias?.length" :src="itemList.medias[0].full_url"  />
            </a>

        </div>
        <div class="product-action-1" v-if="this.user_id">
            <!-- <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"> <i class="fi-rs-eye"></i></a> -->

            <a aria-label="Add To Wishlist" v-if="itemList.is_wishlist == false" class="action-btn small hover-up" href="#" @click.prevent="addItemToWishlist()"><i class="fi-rs-heart"></i></a>

            <a aria-label="Remove From Wishlist" v-else="itemList.is_wishlist == true" class="action-btn small hover-up remove-wishlist" href="#" @click.prevent="removeItemFromWishlist(itemList.wishlist_id)"><i class="fi-rs-heart"></i></a>

        </div>
        <div class="product-badges product-badges-position product-badges-mrg">
            <span class="hot">{{ itemList.subtitle }}</span>
        </div>
    </div>
    <div class="product-content-wrap">
        <div class="product-category">
            <a :href="'/product/category/' + itemList.category.slug">{{ itemList.category.name }}</a>
        </div>
        <h2><a :href="'/product/' + itemList.slug">{{ itemList.title }}</a></h2>
        <div class="product-rate d-inline-block">
            <div class="product-rating" style="width: 100%" v-if="itemList.avg_rating==5"></div>
            <div class="product-rating" style="width: 90%" v-if="itemList.avg_rating>5 && itemList.avg_rating>4"></div>
            <div class="product-rating" style="width: 80%" v-if="itemList.avg_rating==4"></div>
            <div class="product-rating" style="width: 70%" v-if="itemList.avg_rating<4 && itemList.avg_rating>3"></div>
            <div class="product-rating" style="width: 60%" v-if="itemList.avg_rating==3"></div>
            <div class="product-rating" style="width: 50%" v-if="itemList.avg_rating<3 && itemList.avg_rating>2"></div>
            <div class="product-rating" style="width: 40%" v-if="itemList.avg_rating==2"></div>
            <div class="product-rating" style="width: 30%" v-if="itemList.avg_rating<2 && itemList.avg_rating>1"></div>
            <div class="product-rating" style="width: 20%" v-if="itemList.avg_rating==1"></div>
            <div class="product-rating" style="width: 10%" v-if="itemList.avg_rating<1 && itemList.avg_rating>0"></div>
        </div>
        <div class="product-price mt-10" v-if="itemList.selling_price > 0">
            <span>${{ itemList.selling_price }} </span>
            <span class="old-price">${{ itemList.display_price }}</span>
        </div>

        <div class="product-price" v-else>
            <span>Out of Stock</span>
        </div>
        <div class="sold mt-15 mb-15">
            <div class="progress mb-5">
                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <!-- <span class="font-xs text-heading"> Sold: 90/120</span> -->
        </div>
        <a href="#" @click.prevent="addItemToCart()" class="btn w-100 hover-up"  v-if="itemList.selling_price > 0 && itemList.is_cart == false"><i class="fi-rs-shopping-cart mr-5"></i>Add To Cart</a>
        <a class="remove btn w-100 hover-up" v-if="itemList.selling_price > 0 && itemList.is_cart == true" href="#" @click.prevent="removeItemFromCart(itemList.cart_id)"><i class="fi-rs-shopping-cart mr-5"></i>Remove From Cart</a>
    </div>
</template>

<script>

export default {
    props:['item'],
    name: "itemList",
    data() {
        return {
            itemList: this.item,
            user_id : 0,
        };
    },
    mounted(){
      this.user_id = document.getElementById('auth_id').value;
    },
     methods: {
        async getProductsItemsByIds(){
            try {
                const response = await axios.post("/api/products/"+this.itemList.id);
                if (response.data.success) {
                    this.itemList = response.data.data;
                } else if (response.data.error) {
                    console.log(e);
                }
            } catch (e) {
                console.log(e);
            }
        },

        async addItemToCart() {
            try {
                const body = {  product_id: this.itemList.id, quantity:this.itemList.quantity  }
                const response = await axios.post("/api/cart/add", body);

                if (response.data.success) {
                    this.getProductsItemsByIds();
                } else if (response.data.error) {
                    console.log(e);
                }
            } catch (e) {
                console.log(e);
            }
        },

         async removeItemFromCart(cartId) {
            try {
                const body = {  data: [{ id: cartId }] }
                const response = await axios.post("/api/cart/delete", body);

                if (response.data.success) {
                    this.getProductsItemsByIds();
                } else if (response.data.error) {
                    console.log(e);
                }
            } catch (e) {
                console.log(e);
            }
        },

        async addItemToWishlist() {
            try {
                const body = { product_id: this.itemList.id}
                const response = await axios.post("/api/wishlist/add", body);

                if (response.data.success) {
                    this.getProductsItemsByIds();
                } else if (response.data.error) {
                    console.log(e);
                }
            } catch (e) {
                console.log(e);
            }
        },

         async removeItemFromWishlist(wishlistId) {
            try {
                const body = {  data: [{ id: wishlistId }] }
                const response = await axios.post("/api/wishlist/delete", body);

                if (response.data.success) {
                    this.getProductsItemsByIds();
                } else if (response.data.error) {
                    console.log(e);
                }
            } catch (e) {
                console.log(e);
            }
        },
    },
};
</script>
