<template>
    <div class="carausel-4-columns-cover arrow-center position-relative">
        <div class="slider-arrow slider-arrow-2 carausel-4-columns-arrow" id="carausel-4-columns-arrows"></div>
            <div class="carausel-4-columns carausel-arrow-center" :id="'carausel-4-columns_'+flag">
            <div class="product-cart-wrap" v-if="productsItems?.length" v-for="item in productsItems">
                <daily-best-sell-product-card :item="item"></daily-best-sell-product-card>
            </div>
        </div> 
    </div>
</template>

<script>
export default {
   props:['flag'],

   data() {
       return {
           productsItems: [],
           user_id : 0,
       };
   },
   mounted(){
       this.getProductsItems();
       this.user_id = document.getElementById('auth_id').value;
   },
    methods: {
       async getProductsItems() {
           try {
               const response = await axios.post("/api/home");
               if (response.data.success) {
                if(this.flag == 1){
                    this.productsItems = response.data.data.daily_best_sell_featured.data;
                }
                if(this.flag == 2){
                    this.productsItems = response.data.data.daily_best_sell_popular.data;
                }
                if(this.flag == 3){
                    this.productsItems = response.data.data.daily_best_sell_new.data;
                }
               } else if (response.data.error) {
                   // TODO: handle error
               }
           } catch (e) {
               // TODO: handle error
           }
       },
   },
};
</script>
