<template>
    <div class="section-title">
        <div class="title">
            <h3>Featured Categories</h3>

            <!-- <ul class="list-inline nav nav-tabs links">
                <li class="list-inline-item nav-item"><a class="nav-link" href="/shop">Cake & Milk</a></li>
                <li class="list-inline-item nav-item"><a class="nav-link" href="/shop">Coffes & Teas</a></li>
                <li class="list-inline-item nav-item"><a class="nav-link active" href="/shop">Pet Foods</a></li>
                <li class="list-inline-item nav-item"><a class="nav-link" href="/shop">Vegetables</a></li>
            </ul> -->
        </div>
        <div class="slider-arrow slider-arrow-2 flex-right carausel-10-columns-arrow" id="carausel-10-columns-arrows"></div>
    </div>
    <div class="carausel-10-columns-cover position-relative">
        <div class="carausel-10-columns" id="carausel-10-columns">
            <div class="card-2 bg-9" v-if="categoriesItems?.length" v-for="item in categoriesItems">
                <figure class="img-hover-scale overflow-hidden">
                    <a :href="'/product/category/' + item.slug">
                        <img alt="SmallMall" v-if="item.icon" :src="item.icon"/>
                        <img alt="SmallMall" v-else src="/web-assets/imgs/shop/cat-13.png" /> 
                    </a>
                </figure>
                <h6><a :href="'/product/category/' + item.slug">{{ item.name }}</a></h6>
                <span>{{ item.totalProduct }} items</span>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            categoriesItems: [],
        };


    },
    mounted(){
        this.getCategoriesItems();
    
    },
    methods: {
        async getCategoriesItems() {
            try {
                const response = await axios.get("/api/category");
                if (response.data.success) {
                    this.categoriesItems = response.data.data;
                } else if (response.data.error) {
                    // TODO: handle error
                }
            } catch (e) {
                // TODO: handle error
            }
        }
    },
};
</script>
