<template>
    <ul class="footer-list mb-sm-5 mb-md-0">
        <li v-if="categoriesItems?.length" v-for="item in categoriesItems.slice(0,5)"><a :href="'/product/category/' + item.slug">{{ item.name }}</a></li>
    </ul>
</template>
<script>
export default {
    data() {
        return {
            categoriesItems: [],
        };
    },
    mounted(){
        this.getCategoriesItems();
    },
    methods: {
        async getCategoriesItems() {
            try {
                const response = await axios.get("/api/category");
                if (response.data.success) {
                    this.categoriesItems = response.data.data;
                } else if (response.data.error) {
                    // TODO: handle error
                }
            } catch (e) {
                // TODO: handle error
            }
        }
    },
};
</script>
