<template>
    <div class="d-flex categori-dropdown-inner">
        <ul>
            <li v-if="categoriesItems?.length" v-for="item in categoriesItems.slice(0, 6)">
                <a :href="'/product/category/' + item.slug">
                    <img alt="SmallMall" v-if="item.icon" :src="item.icon" />
                    <img src="/web-assets/imgs/theme/icons/category-1.svg" alt="SmallMall"  v-else  />{{ item.name }}</a>
            </li>
        </ul>
        <ul class="end">
            <li v-if="categoriesItems?.length" v-for="item in categoriesItems.slice(6, -1)">
                <a :href="'/product/category/' + item.slug">  <img alt="SmallMall" v-if="item.icon" :src="item.icon" />
                <img src="/web-assets/imgs/theme/icons/category-1.svg" alt="SmallMall"  v-else  />{{ item.name }}</a>
            </li>
        </ul>
    </div>
    <!-- <div class="more_slide_open" style="display: none">
        <div class="d-flex categori-dropdown-inner">
            <ul>
                <li v-if="categoriesItems?.length" v-for="item in categoriesItems.slice(10, 10)">
                    <a :href="'/category/' + item.slug"> <img src="/web-assets/imgs/theme/icons/category-1.svg" alt="" />{{ item.name }}</a>
                </li>
            </ul>
            <ul class="end">
                <li>
                    <a href="/shop"> <img src="{{asset('web-assets/imgs/theme/icons/icon-3.svg')}}" alt="" />Wines & Drinks</a>
                </li>
                <li>
                    <a href="/shop"> <img src="{{asset('web-assets/imgs/theme/icons/icon-4.svg')}}" alt="" />Fresh Seafood</a>
                </li>
            </ul>
        </div>
    </div> -->
</template>
<script>
export default {
    data() {
        return {
            categoriesItems: [],
        };
    },
    mounted(){
        this.getCategoriesItems();

    },
     methods: {
        async getCategoriesItems() {
            try {
                const response = await axios.get("/api/category");
                if (response.data.success) {
                    this.categoriesItems = response.data.data;
                } else if (response.data.error) {
                    // TODO: handle error
                }
            } catch (e) {
                // TODO: handle error
            }
        }
    },
};
</script>