<template>
    <figure class="col-md-4 mb-0">
        <a :href="'/product/' + this.itemList.slug">
            <img alt="SmallMall" v-if="this.itemList?.medias?.length" :src="this.itemList.medias[0].full_url"  />
            <img v-else src="web-assets/imgs/shop/thumbnail-1.jpg" alt="SmallMall" /></a>
    </figure>
    <div class="col-md-8 mb-0">
        <h6>
            <a :href="'/product/' + this.itemList.slug">{{ this.itemList.title }}</a>
        </h6>
        <div class="product-rate-cover">
            <div class="product-rate d-inline-block">
                <div class="product-rating" style="width: 100%" v-if="this.itemList.avg_rating==5"></div>
                <div class="product-rating" style="width: 90%" v-if="this.itemList.avg_rating>5 && this.itemList.avg_rating>4"></div>
                <div class="product-rating" style="width: 80%" v-if="this.itemList.avg_rating==4"></div>
                <div class="product-rating" style="width: 70%" v-if="this.itemList.avg_rating<4 && this.itemList.avg_rating>3"></div>
                <div class="product-rating" style="width: 60%" v-if="this.itemList.avg_rating==3"></div>
                <div class="product-rating" style="width: 50%" v-if="this.itemList.avg_rating<3 && this.itemList.avg_rating>2"></div>
                <div class="product-rating" style="width: 40%" v-if="this.itemList.avg_rating==2"></div>
                <div class="product-rating" style="width: 30%" v-if="this.itemList.avg_rating<2 && this.itemList.avg_rating>1"></div>
                <div class="product-rating" style="width: 20%" v-if="this.itemList.avg_rating==1"></div>
                <div class="product-rating" style="width: 10%" v-if="this.itemList.avg_rating<1 && this.itemList.avg_rating>0"></div>
            </div>
            <span class="font-small ml-5 text-muted"> ({{ this.itemList.avg_rating }})</span>
        </div>
        <div class="product-price" v-if="this.itemList.selling_price > 0">
            <span>${{ this.itemList.selling_price }}</span>
            <span class="old-price">${{ this.itemList.display_price }}</span>
        </div>
        <div class="product-price" v-else>
            <span>Out of Stock</span>
        </div>
    </div>
</template>
<script>
export default {
    props:['item'],
    name: "itemList",
    data() {
        return {
            itemList: this.item,
            user_id : 0,
        };
    },
    mounted(){
        this.user_id = document.getElementById('auth_id').value;
    },
   methods: {


  },
};
</script>
