<template>
    <div class="mb-4">
            <label for="profile_image" class="form-label">Profile Image</label>
            <input class="form-control px-2" type="file" id="profile_image" @change="handleProfileChange($event)" ref="profileFileInput">
        </div>
 </template>
 
 <script>
 import {ref} from 'vue'
 
 export default {
 
     data() {
         return {
             profile_image: "",
             userData: [],
             alert: "",
             success: ""
         }
     } ,
     mounted(){
       this.getUserDetails();
     },
     methods:{
 
          handleIconChange(e) {
             const files = e.target.files;
             if (!files || !files[0]) return;
 
             this.profile_image = files[0];
             try {
                 this.alert = this.success = "";
            
                 new Promise((resolve, reject) => {
                     axios.post('/api/user/update/profile', this.profile_image).then((response) => {
                         setTimeout(() => {
                             this.success = "Profile Image Update Successfully";
                         }, 500);
                       
                     })
                     .catch((err) => {
                         reject(err);
                         this.alert = error.message;
                     })
                 })
             } catch (err) {
                 this.alert = error.message;
             // TODO: handle err
             } finally {
 
             }
         },
         async getUserDetails() {
            try {
                const response = await axios.get("/api/user");
                if (response.data.success) {
                 this.userData = response.data.data;
                } else if (response.data.error) {
                    // TODO: handle error
                }
            } catch (e) {
                // TODO: handle error
            }
        },
 
         hideMessage() {
             this.alert = this.success = "";
         },
 
     }
 }
 
 </script>