<template>
   <form ref="form_1" enctype="multipart/form-data" @submit.prevent="handleSubmit" class="row">
        <div class="row">
            <div class="form-group col-md-6">
                <label>Full Name <span class="required">*</span></label>
                <input required class="form-control" name="name" type="text" v-model="userData.name" />
            </div>
            <div class="form-group col-md-6">
                <label>Email Address <span class="required">*</span></label>
                <input required class="form-control" name="email" type="email" v-model="userData.email" readonly/>
            </div>
            <div class="form-group col-md-6">
                <label>Mobile No<span class="required">*</span></label>
                <input required class="form-control" name="mobile" type="number" v-model="userData.mobile" />
            </div>
            <div class="form-group col-md-6">
                <label>Gender <span class="required">*</span></label>
                <select name="gender" class="form-control" required v-model="userData.gender">
                    <option>--Select--</option>
                    <option value="M" :selected="userData.gender === 'M'">Male</option>
                    <option value="F" :selected="userData.gender === 'F'">Female</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label>DOB<span class="required">*</span></label>
                <input required class="form-control" name="dob" type="date" v-model="userData.dob" :max="max_date"/>
            </div>
     
            <div class="col-md-12">
                <div id="alert" class="text-danger mb-2" v-if="alert">{{ alert }}</div>
                <div id="success" class="text-success mb-2" v-if="success">{{ success }}</div>
                <button class="btn btn-fill-out submit font-weight-bold" >Save Change</button>
            </div>
        </div>
    </form>
</template>

<script>
import {ref} from 'vue'

export default {

    
    data() {
        let today = new Date().toISOString().split('T')[0];

        return {
            fields: {},
            userData: [],
            alert: "",
            success: "",
            max_date: today
        }
    } ,
    mounted(){
      this.getUserDetails();
    },
    methods:{
        async getUserDetails() {
           try {
               const response = await axios.get("/api/user");
               if (response.data.success) {
                this.userData = response.data.data;
               } else if (response.data.error) {
                   // TODO: handle error
               }
           } catch (e) {
               // TODO: handle error
           }
       },

        hideMessage() {
            this.alert = this.success = "";
        },

        async handleSubmit() {

            try {
                this.alert = this.success = "";
                const formData = new FormData()
                formData.append('name', this.userData.name)
                formData.append('mobile_no', this.userData.mobile)
                formData.append('gender', this.userData.gender)
                formData.append('dob', this.userData.dob)

                new Promise((resolve, reject) => {
                    axios.post('/api/user/update', formData).then((response) => {
                        setTimeout(() => {
                            this.success = "Profile Update Successfully";
                        }, 200);
                      
                    })
                    .catch((err) => {
                        reject(err);
                        this.alert = error.message;
                    })
                })
            } catch (err) {
                this.alert = error.message;
            // TODO: handle err
            } finally {

            }
        }
    }
}

</script>