<template>
    <form ref="form_1" enctype="multipart/form-data" @submit.prevent="handleSubmit" class="row">
        <div class="row">
            <div class="form-group col-md-12">
                <label>New Password <span class="required">*</span></label>
                <input required class="form-control"  @keyup.prevent="hideMessage" name="password" type="password" v-model="fields.password" />
            </div>
            <div class="form-group col-md-12">
                <label>Confirm Password <span class="required">*</span></label>
                <input required class="form-control" @keyup.prevent="hideMessage" name="confirm_password" type="password" v-model="fields.confirm_password"  />
            </div>
            <div class="col-md-12">
                <div id="alert" class="text-danger mb-2" v-if="alert">{{ alert }}</div>
                <div id="success" class="text-success mb-2" v-if="success">{{ success }}</div>
                <button type="submit" class="btn btn-fill-out submit font-weight-bold" >Save Change</button>
            </div>
        </div>
    </form>
</template>

<script>
import {ref} from 'vue'

export default {

    data() {
        return {
            fields: {},
            alert: "",
            success: ""
        }
    } ,
    methods:{
        hideMessage() {
            this.alert = this.success = "";
        },

       async handleSubmit() {

            try {
                this.alert = this.success = "";
                // Verify that the passwords match
                if (this.fields.password !== this.fields.confirm_password) {
                    this.alert = "Passwords does not match";
                    return;
                }
                new Promise((resolve, reject) => {
                    axios.post('/api/user/change/password', this.fields).then((response) => {
                        this.$refs.form_1.reset();
                        setTimeout(() => {
                            this.success = "Passwords Change Successfully";
                        }, 200);
                      
                    })
                    .catch((err) => {
                        reject(err);
                        this.alert = error.message;
                    })
                })
            } catch (err) {
                this.alert = error.message;
            // TODO: handle err
            } finally {

            }
        } 
    }
}


</script>