<template>
      <div class="card">
        <div class="card-header">
            <h3 class="mb-0">Your Orders</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Order</th>
                            <th>Date</th>
                            <th>Item</th>
                            <th>Total</th>
                            <th>Transaction Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-if="orderItems?.length" v-for="(item,index) in orderItems" :key="index">
                            <td>#{{item.order_id}}</td>
                            <td>{{item.ordered_at}}</td>
                            <td>{{item.order_items.length}}</td>
                            <td>${{item.total_amount}}</td>
                            <td>{{item.transaction_status}}</td>
                            <td><a :href="'/order/'+item.order_id+'/details'" class="btn-small d-block">View</a></td>
                            <!-- <td><a href="#"  @click.prevent="cancelOrder(item.order_id)" class="btn-small d-block">Cancel</a></td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
<script>
export default {
   props:[],
   data() {
       return {
           orderItems: [],
       };
   },
   mounted(){
       this.getOrderItems();
   },

    methods: {
       async getOrderItems() {
           try {
               const response = await axios.get("/api/order");
               if (response.data.success) {
                   this.orderItems = response.data.data;
               } else if (response.data.error) {
                   // TODO: handle error
               }
           } catch (e) {
               // TODO: handle error
           }
       },
       async cancelOrder(itemId) {
            try {
                const response = await axios.get("/api/order/"+itemId+"/cancel");

                if (response.data.success) {
                    this.getOrderItems();
                } else if (response.data.error) {
                    // TODO: handle error
                }
            } catch (e) {
               // TODO: handle error
            }
        },
   },
};
</script>
