<template>
    <div class="row">
        <div class="col-lg-6"><button class="btn btn-fill-out submit font-weight-bold" data-bs-toggle="modal" data-bs-target="#addUpdateAddressModal">Add Address</button>
        </div> 
         <div class="row">
            <div class="col-lg-6"  v-if="addressItems?.length" v-for="item in addressItems">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">{{item.full_name}}</h5>
                    </div>
                    <div class="card-body">
                        <address>
                            {{item.add_1}}<br />
                            {{item.add_2}}, <br />{{item.city}}, <br />
                            {{item.state}}, <br />
                            {{item.zip}}, <br />
                            Phone: {{item.mobile}}
                        </address>
                        <p>{{item.mobile}}</p>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#addUpdateAddressModal" @click.prevent="updateAddress(item.id)" class="btn-small">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade custom-modal" id="addUpdateAddressModal" tabindex="-1" aria-labelledby="addUpdateAddressModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">
                    <h3 class="mb-10"> Add New Address </h3>

                    <form ref="form_1" enctype="multipart/form-data" @submit.prevent="handleSubmit" class="row">
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <input type="text" required name="full_name" class="full_name" placeholder="Full name *"  v-model="addressData.full_name" >
                                </div>
                                <div class="form-group col-lg-6">
                                    <input type="text" required name="mobile" placeholder="Phone *" v-model="addressData.mobile">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <input type="text" required name="add_1" placeholder="Address *" v-model="addressData.add_1">
                                </div>
                                <div class="form-group col-lg-6">
                                    <input type="text" required name="add_2" placeholder="Address line2" v-model="addressData.add_2">
                                </div>
                            </div>
                            <div class="row shipping_calculator">
                                <div class="form-group col-lg-6">
                                    <input type="text" required name="city" placeholder="City / Town *" v-model="addressData.city">
                                </div>
                                <div class="form-group col-lg-6">
                                    <input type="text" required name="state" placeholder="State / County *" v-model="addressData.state">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <input type="text" required name="zip" placeholder="Postcode / ZIP *" v-model="addressData.zip">
                                </div>
                            </div>
                    
                            <div class="col-md-12">
                                <input type="hidden" name="id" v-model="addressData.id">
                                <div id="alert" class="text-danger mb-2" v-if="alert">{{ alert }}</div>
                                <div id="success" class="text-success mb-2" v-if="success">{{ success }}</div>
                                <button class="btn btn-fill-out submit font-weight-bold" >Save Change</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  data() {
      return {
        addressItems: [],
        addressData: {},
        alert: "",
        success: ""
      };
  },
  mounted(){
      this.getAddressItems();
  },
   methods: {

      async getAddressItems() {
           try {
               const response = await axios.get("/api/user/address");
               if (response.data.success) {
                this.addressItems = response.data.data;
               } else if (response.data.error) {
                   // TODO: handle error
               }
           } catch (e) {
               // TODO: handle error
           }
       },
       async updateAddress(id) {
           try {
               const response = await axios.get("/api/user/address/"+id);
               if (response.data.success) {
                this.addressData = response.data.data;
               } else if (response.data.error) {
                   // TODO: handle error
               }
           } catch (e) {
               // TODO: handle error
           }
       },
       hideMessage() {
            this.alert = this.success = "";
        },

        async handleSubmit() {

            try {
                this.alert = this.success = "";
                const formData = new FormData()
                formData.append('full_name', this.addressData.full_name)
                formData.append('mobile', this.addressData.mobile)
                formData.append('add_1', this.addressData.add_1)
                formData.append('add_2', this.addressData.add_2)
                formData.append('city', this.addressData.city)
                formData.append('state', this.addressData.state)
                formData.append('zip', this.addressData.zip)
                if( this.addressData.id){
                    const formData2 = new FormData()
                    formData2.append('id', this.addressData.id)
                    new Promise((resolve, reject) => {
                        axios.post('/api/user/address/delete', formData2).then((response) => {
                        })
                        .catch((err) => {
                            reject(err);
                            this.alert = error.message;
                        })
                    })
                }

                new Promise((resolve, reject) => {
                    axios.post('/api/user/address/add', formData).then((response) => {
                        setTimeout(() => {
                            this.success = "Address Add Successfully";
                        }, 200);
                    
                    })
                    .catch((err) => {
                        reject(err);
                        this.alert = error.message;
                    })
                })
                $('#addUpdateAddressModal').modal('hide');
                this.getAddressItems();
            
            } catch (err) {
                this.alert = error.message;
            // TODO: handle err
            } finally {

            }
        }
  },
};
</script>
