
<template>
    <div class="pagination-area mt-20 mb-20">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                <li  class="page-item"  v-if="pagination.current_page > 1">
                    <a class="page-link" href="javascript:void(0)" aria-label="Previous" v-on:click.prevent="changePage(pagination.current_page - 1)">
                        <i class="fi-rs-arrow-small-left"></i>
                        </a>
                    </li>
                <li v-for="page in pagesNumber" class="page-item" :class="{'active': page == pagination.current_page}">
                    <a class="page-link" href="javascript:void(0)" v-on:click.prevent="changePage(page)">{{ page }}</a>
                    </li>
                <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                    <a  class="page-link" href="javascript:void(0)" aria-label="Next" v-on:click.prevent="changePage(pagination.current_page + 1)">
                        <span aria-hidden="true"><i class="fi-rs-arrow-small-right"></i></span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- <div class="pagination-area mt-20 mb-20">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                <li class="page-item" v-if="pagination.current_page > 1">
                    <a class="page-link" href="#javascript:void(0)"><i class="fi-rs-arrow-small-left"></i></a>
                </li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
                <li class="page-item active"><a class="page-link" href="javascript:void(0)">2</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">6</a></li>
                <li class="page-item">
                    <a class="page-link" href="#"><i class="fi-rs-arrow-small-right"></i></a>
                </li>
            </ul>
        </nav>
    </div> -->
</template>
<script>
  export default{
      props: {
      pagination: {
          type: Object,
          required: true
      },
      offset: {
          type: Number,
          default: 4
      }
    },
    computed: {
      pagesNumber() {
        if (!this.pagination.to) {
          return [];
        }
        let from = this.pagination.current_page - this.offset;
        if (from < 1) {
          from = 1;
        }
        let to = from + (this.offset * 2);
        if (to >= this.pagination.last_page) {
          to = this.pagination.last_page;
        }
        let pagesArray = [];
        for (let page = from; page <= to; page++) {
          pagesArray.push(page);
        }
          return pagesArray;
      }
    },
    methods : {
      changePage(page) {
        this.pagination.current_page = page;
        this.$emit('paginate');
      }
    }
  }
</script>
