<template>
     <div class="row product-grid-4">
        <div class="col-lg-1-5 col-md-4 col-12 col-sm-6"  v-if="productsItems?.length" v-for="item in productsItems">
            <product-list-card :item="item"></product-list-card>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            productsItems: [],
            user_id : 0,
        };
    },
    mounted(){
        this.getProductsItems();
        this.user_id = document.getElementById('auth_id').value;
    },
     methods: {
        async getProductsItems() {
            try {
                const response = await axios.post("/api/home");
                if (response.data.success) {
                    this.productsItems = response.data.data.popular_products.data;
                } else if (response.data.error) {
                    // TODO: handle error
                }
            } catch (e) {
                // TODO: handle error
            }
        },
    },
};
</script>
