<template>
    <div class="row mb-50 mt-30">
        <div class="col-md-6 col-sm-12 col-xs-12 mb-md-0 mb-sm-5">
            <div class="detail-gallery">
                <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                <!-- MAIN SLIDES -->
                <div class="product-image-slider">
                    <figure class="border-radius-10">
                        <img alt="SmallMall" v-if="productsItems?.medias?.length" :src="productsItems.medias[0].full_url" />
                        <img alt="SmallMall" v-else src="/web-assets/imgs/shop/product-16-2.jpg" />
                    </figure>
                </div>
                <!-- THUMBNAILS -->
                <div class="slider-nav-thumbnails">
                    <div>
                        <img alt="SmallMall" v-if="productsItems?.medias?.length" v-for="item in productsItems.medias" :src="item.full_url" />
                        <img alt="SmallMall" v-else src="/web-assets/imgs/shop/thumbnail-3.jpg" />
                    </div>
                </div>
            </div>
            <!-- End Gallery -->
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="detail-info pr-30 pl-30">
                <span class="stock-status out-stock"> {{ productsItems.subtitle }} </span>
                <h2 class="title-detail">{{ productsItems.title }}</h2>
                <div class="product-detail-rating">
                    <div class="product-rate-cover text-end">
                        <div class="product-rate d-inline-block">
                            <div class="product-rating" style="width: 100%" v-if="totalReviews==5"></div>
                            <div class="product-rating" style="width: 80%" v-if="totalReviews==4"></div>
                            <div class="product-rating" style="width: 60%" v-if="totalReviews==3"></div>
                            <div class="product-rating" style="width: 40%" v-if="totalReviews==2"></div>
                            <div class="product-rating" style="width: 20%" v-if="totalReviews==1"></div>
                        </div>
                        <span class="font-small ml-5 text-muted"> ({{ totalReviews }} reviews)</span>
                    </div>
                </div>
                <div class="clearfix product-price-cover">
                    <div class="product-price primary-color float-left" v-if="productsItems.selling_price > 0">
                        <span class="current-price text-brand">${{ productsItems.selling_price }}</span>
                        <span>
                            <span class="save-price font-md color3 ml-15">{{price_percentage}}% Off</span>
                            <span class="old-price font-md ml-15">${{ productsItems.display_price }}</span>
                        </span>
                    </div>
                    <div class="product-price" v-else>
                            <span class="font-md text-brand">Out of Stock</span>
                    </div>
                </div>
                <div class="short-desc mb-30">
                    <p class="font-lg">{{ productsItems.short_description }}</p>
                </div>

                <div class="detail-extralink mb-50" v-if="productsItems.selling_price > 0">
                    <div class="detail-qty border radius" v-if="productsItems.is_cart == false">
                        <a href="#" class="qty-down" @click.prevent="quantityDown()"><i class="fi-rs-angle-small-down"></i></a>
                        <input type="text" name="quantity" id="quantity" class="qty-val" v-model="productsItems.quantity" min="1">
                        <a href="#" class="qty-up" @click.prevent="quantityUp()"><i class="fi-rs-angle-small-up"></i></a>
                    </div>
                    <div class="product-extra-link2">
                        <button class="button button-add-to-cart" v-if="productsItems.is_cart == false" @click.prevent="addItemToCart(productsItems.id)"><i class="fi-rs-shopping-cart"></i>Add to cart</button>
                        <button class="button button-remove-cart" v-if="productsItems.is_cart == true" @click.prevent="removeItemFromCart(productsItems.id,productsItems.cart_id)"><i class="fi-rs-shopping-cart"></i>Remove from cart</button>

                        <a aria-label="Add To Wishlist" v-if="productsItems.is_wishlist == false" class="action-btn hover-up" href="#" @click.prevent="addItemToWishlist(productsItems.id)"><i class="fi-rs-heart"></i></a>
                        <a aria-label="Remove From Wishlist" v-if="productsItems.is_wishlist == true" class="action-btn hover-up remove-wishlist" href="#" @click.prevent="removeItemFromWishlist(productsItems.id,productsItems.wishlist_id)"><i class="fi-rs-heart"></i></a>

                    </div>
                </div>
            </div>
            <!-- Detail Info -->
        </div>
    </div>
    <div class="product-info">
        <div class="tab-style3">
            <ul class="nav nav-tabs text-uppercase">
                <li class="nav-item">
                    <a class="nav-link active" id="Description-tab" data-bs-toggle="tab" href="#Description">Description</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Additional-info-tab" data-bs-toggle="tab" href="#Additional-info">Additional info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Vendor-info-tab" data-bs-toggle="tab" href="#Vendor-info">Vendor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Reviews-tab" data-bs-toggle="tab" href="#Reviews">Reviews ({{ totalReviews }})</a>
                </li>
            </ul>
            <div class="tab-content shop_info_tab entry-main-content">
                <div class="tab-pane fade show active" id="Description">
                   {{ productsItems.description }}
                   <br>
                   <span v-if="productsItems.manufactured_in"> <strong>Manufactured In: </strong> {{ productsItems.manufactured_in }} </span> <br>
                   <span v-if="productsItems.sustainability_statement"> <strong>Sustainability Statement: </strong> <span>{{ productsItems.sustainability_statement }}</span> </span> <br>
                </div>
                <div class="tab-pane fade" id="Additional-info">
                    <table class="font-md">
                        <tbody>
                            <tr v-if="productsItems?.specification?.length" v-for="item in productsItems.specification">
                                <th>{{ item.key }}</th>
                                <td>
                                    <p>{{ item.value }}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="Vendor-info">
                    <div v-if="productsItems.seller">
                        <div class="vendor-logo d-flex mb-30">
                            <img src="/web-assets/imgs/vendor/vendor-18.svg" alt="" />
                            <div class="vendor-name ml-15">
                                <h6>
                                    <a href="#">{{ productsItems.seller.name }}</a>
                                </h6>
                                <div class="product-rate-cover text-end">
                                    <div class="product-rate d-inline-block">
                                        <div class="product-rating" style="width: 100%" v-if="totalReviews==5"></div>
                                        <div class="product-rating" style="width: 80%" v-if="totalReviews==4"></div>
                                        <div class="product-rating" style="width: 60%" v-if="totalReviews==3"></div>
                                        <div class="product-rating" style="width: 40%" v-if="totalReviews==2"></div>
                                        <div class="product-rating" style="width: 20%" v-if="totalReviews==1"></div>
                                    </div>
                                    <!-- <span class="font-small ml-5 text-muted"> ({{ totalReviews }} reviews)</span> -->
                                </div>
                            </div>
                        </div>
                        <ul class="contact-infor mb-50">
                            <li><img src="/web-assets/imgs/theme/icons/icon-contact.svg" alt="" /><strong>Contact Seller:</strong><span>{{ productsItems.seller.mobile }}</span></li>
                        </ul>
                        <hr/>
                    </div>
                </div>
                <div class="tab-pane fade" id="Reviews">
                    <!--Comments-->
                    <div class="comments-area">
                        <div class="row">
                            <div class="col-lg-8">
                                <h4 class="mb-30">Customer questions & answers</h4>
                                <div class="comment-list">
                                    <div class="single-comment justify-content-between d-flex mb-30" v-if="productsItems.reviews?.length" v-for="item in productsItems.reviews">
                                        <div class="user justify-content-between d-flex">
                                            <div class="thumb text-center">
                                                <img v-if="item.user.profile_img" :src="item.user.profile_img" alt="" />
                                                 <img alt="SmallMall" v-else src="/web-assets/imgs/shop/thumbnail-3.jpg" />
                                                <a href="#" class="font-heading text-brand">{{ item.user.name }}</a>
                                            </div>
                                            <div class="desc">
                                                <div class="d-flex justify-content-between mb-10">
                                                    <div class="d-flex align-items-center">
                                                        <span class="font-xs text-muted">December 4, 2022 at 3:12 pm </span>
                                                    </div>
                                                    <div class="product-rate d-inline-block">
                                                        <div class="product-rating" style="width: 100%" v-if="item.rating==5"></div>
                                                        <div class="product-rating" style="width: 90%" v-if="item.rating>5 && item.rating>4"></div>
                                                        <div class="product-rating" style="width: 80%" v-if="item.rating==4"></div>
                                                        <div class="product-rating" style="width: 70%" v-if="item.rating<4 && item.rating>3"></div>
                                                        <div class="product-rating" style="width: 60%" v-if="item.rating==3"></div>
                                                        <div class="product-rating" style="width: 50%" v-if="item.rating<3 && item.rating>2"></div>
                                                        <div class="product-rating" style="width: 40%" v-if="item.rating==2"></div>
                                                        <div class="product-rating" style="width: 30%" v-if="item.rating<2 && item.rating>1"></div>
                                                        <div class="product-rating" style="width: 20%" v-if="item.rating==1"></div>
                                                        <div class="product-rating" style="width: 10%" v-if="item.rating<1 && item.rating>0"></div>
                                                    </div>
                                                </div>
                                                <p class="mb-10">{{ item.review }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <h4 class="mb-30">Customer reviews</h4>
                                <div class="d-flex mb-30">
                                    <div class="product-rate d-inline-block mr-15">
                                        <div class="product-rating" style="width: 100%" v-if="productsItems.avg_rating==5"></div>
                                        <div class="product-rating" style="width: 90%" v-if="productsItems.avg_rating>5 && productsItems.avg_rating>4"></div>
                                        <div class="product-rating" style="width: 80%" v-if="productsItems.avg_rating==4"></div>
                                        <div class="product-rating" style="width: 70%" v-if="productsItems.avg_rating<4 && productsItems.avg_rating>3"></div>
                                        <div class="product-rating" style="width: 60%" v-if="productsItems.avg_rating==3"></div>
                                        <div class="product-rating" style="width: 50%" v-if="productsItems.avg_rating<3 && productsItems.avg_rating>2"></div>
                                        <div class="product-rating" style="width: 40%" v-if="productsItems.avg_rating==2"></div>
                                        <div class="product-rating" style="width: 30%" v-if="productsItems.avg_rating<2 && productsItems.avg_rating>1"></div>
                                        <div class="product-rating" style="width: 20%" v-if="productsItems.avg_rating==1"></div>
                                        <div class="product-rating" style="width: 10%" v-if="productsItems.avg_rating<1 && productsItems.avg_rating>0"></div>
                                    </div>
                                    <h6>{{ productsItems.avg_rating }} out of 5</h6>
                                </div>
                                <div class="progress" v-if="reviewSummary?.length" v-for="item in reviewSummary.reverse()">
                                    <span>{{item.rating}} star</span>
                                    <div class="progress-bar" role="progressbar" :style="{ width: item.percentage + '%' }" :aria-valuenow="item.percentage" aria-valuemin="0" aria-valuemax="100">{{ formatNumber(item.percentage,0) }}%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--comment form-->
                    <div class="comment-form" v-if="user_id">
                        <h4 class="mb-15">Add a review</h4>
                        <div class="row">
                            <div class="col-lg-8 col-md-12">
                                <form ref="form_1" enctype="multipart/form-data" class="form-contact comment_form"  @submit.prevent="handleSubmit">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="star-rating">
                                                <input id="star-5" type="radio" name="rating" v-model="fields.rating"  v-bind:value="5"/>
                                                <label for="star-5" title="5 stars">
                                                    <i class="active fi-rs-star" aria-hidden="true"></i>
                                                </label>
                                                <input id="star-4" type="radio" name="rating"  v-model="fields.rating"   v-bind:value="4"/>
                                                <label for="star-4" title="4 stars">
                                                    <i class="active fi-rs-star" aria-hidden="true"></i>
                                                </label>
                                                <input id="star-3" type="radio" name="rating"  v-model="fields.rating" v-bind:value="3"/>
                                                <label for="star-3" title="3 stars">
                                                    <i class="active fi-rs-star" aria-hidden="true"></i>
                                                </label>
                                                <input id="star-2" type="radio" name="rating"  v-model="fields.rating"  v-bind:value="2"/>
                                                <label for="star-2" title="2 stars">
                                                    <i class="active fi-rs-star" aria-hidden="true"></i>
                                                </label>
                                                <input id="star-1" type="radio" name="rating" v-model="fields.rating"  v-bind:value="1"/>
                                                <label for="star-1" title="1 star">
                                                    <i class="active fi-rs-star" aria-hidden="true"></i>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <textarea class="form-control w-100" name="review" id="review" cols="30" rows="9" placeholder="Write Review" v-model="fields.review"></textarea>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <div id="alert" class="text-danger mb-2" v-if="alert">{{ alert }}</div>
                                        <div id="success" class="text-success mb-2" v-if="success">{{ success }}</div>
                                        <button type="submit" class="button button-contactForm">Submit Review</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import {ref, computed} from 'vue'
import { useCartStore } from '@/js/stores/web/cart'
import { useWishlistStore } from '@/js/stores/web/wishlist'

export default {
    props:['product_id'],
    data() {
        return {
            productsItems: [],
            reviewSummary: [],
            totalReviews: 0,
            price_percentage:0,
            quantity:1,
            userData: {},
            fields: {},
            alert: "",
            success: "",
            user_id : 0,
        };
    },
    mounted(){
        this.user_id = document.getElementById('auth_id').value;

        this.getProductsItemsByIds();
       // this.getReviewSummary();
        // if(this.user_id){
        //     this.getUserDetails();
        // }
    },
     methods: {

        formatNumber (num,decimal) {
            if(num > 0){
                return parseFloat(num).toFixed(decimal)
            }else{
                return num;
            }
        },

        async getUserDetails() {
           try {
               const response = await axios.get("/api/user");
               if (response.data.success) {
                this.userData = response.data.data;

               } else if (response.data.error) {
                   // TODO: handle error
               }
           } catch (e) {
               console.log(e)
           }
       },

        async getProductsItemsByIds() {
            try {
                const response = await axios.post("/api/products/"+this.product_id);
                if (response.data.success) {
                    this.productsItems = response.data.data;
                    this.display_price = response.data.data.display_price;
                    this.selling_price = response.data.data.selling_price;
                    this.price_percentage = (this.display_price - this.selling_price )/this.display_price*100;
                    this.price_percentage = parseFloat(this.price_percentage).toFixed(0);
                    this.totalReviews = response.data.data.reviews.length;
                } else if (response.data.error) {
                    // TODO: handle error
                }
            } catch (e) {
                console.log(e)
            }
        },

        async getReviewSummary() {
            try {
                const response = await axios.get("/api/products/"+this.product_id+"/review-summary");
                if (response.data.success) {
                    this.reviewSummary = response.data.data.summary;
                } else if (response.data.error) {
                    // TODO: handle error
                }
            } catch (e) {
                // TODO: handle error
            }
        },

        async quantityUp() {
            try {
                let qtyval = parseInt($(".qty-val").val(), 10);
                qtyval = qtyval + 1;
                $(".qty-val").val(qtyval);
                this.quantity = qtyval;
            } catch (e) {
                // TODO: handle error
            }
        },
        async quantityDown() {
            try {
                let qtyval = parseInt($(".qty-val").val(), 10);
                qtyval = qtyval - 1;
                 if (qtyval > 1) {
                     $(".qty-val").val(qtyval);
                 } else {
                     qtyval = 1;
                     $(".qty-val").val(qtyval);
                 }
                 this.quantity = qtyval;
            } catch (e) {
                // TODO: handle error
            }
        },
         async addItemToCart(itemId) {
            try {
                const body = { product_id: itemId, quantity:this.quantity }
                const response = await axios.post("/api/cart/add", body);

                if (response.data.success) {
                    this.getProductsItemsByIds();
                    const cartStore = useCartStore()
                    cartStore.fetchCart();
                } else if (response.data.error) {
                    // TODO: handle error
                }
            } catch (e) {
                // TODO: handle error
            }
        },

         async removeItemFromCart(itemId,cartId) {
            try {
                const body = {  data: [{ id: cartId }] }
                const response = await axios.post("/api/cart/delete", body);

                if (response.data.success) {
                    this.getProductsItemsByIds();
                    const cartStore = useCartStore()
                    cartStore.fetchCart();
                } else if (response.data.error) {
                    // TODO: handle error
                }
            } catch (e) {
                // TODO: handle error
            }
        },

        async addItemToWishlist(itemId) {
            try {
                const body = { product_id: itemId  }
                const response = await axios.post("/api/wishlist/add", body);

                if (response.data.success) {
                    this.getProductsItemsByIds();
                    const wishlistStore = useWishlistStore()
                    wishlistStore.fetchWishlist();
                } else if (response.data.error) {
                    // TODO: handle error
                }
            } catch (e) {
                // TODO: handle error
            }
        },

         async removeItemFromWishlist(itemId,wishlistId) {
            try {
                const body = {  data: [{ id: wishlistId }] }
                const response = await axios.post("/api/wishlist/delete", body);

                if (response.data.success) {
                    this.getProductsItemsByIds();
                    const wishlistStore = useWishlistStore()
                    wishlistStore.fetchWishlist();
                } else if (response.data.error) {
                    // TODO: handle error
                }
            } catch (e) {
                // TODO: handle error
            }
        },

        hideMessage() {
            this.alert = this.success = "";
        },

       async handleSubmit() {

            try {
                this.alert = this.success = "";

                new Promise((resolve, reject) => {
                    axios.post('/api/products/'+this.product_id+'/reviews/add', this.fields).then((response) => {
                        this.$refs.form_1.reset();
                        this.fields.review = '';
                        setTimeout(() => {
                            this.success = "Review Add Successfully";
                        }, 200);
                        this.getProductsItemsByIds();

                    })
                    .catch((err) => {
                        reject(err);
                        this.alert = error.message;
                    })
                })
            } catch (err) {
                this.alert = error.message;
            // TODO: handle err
            } finally {

            }
        }
    },
};
</script>
