<template>
    <div class="shop-product-fillter">
        <div class="totall-product">
            <p>We found <strong class="text-brand">{{ productsStore.totalProducts }}</strong> items for you!</p>
        </div>
        <div class="sort-by-product-area">
            <div class="sort-by-cover">
                <div class="sort-by-product-wrap" @click.prevent="clickSortByProduct($event)">
                    <div class="sort-by">
                        <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                    </div>
                    <div class="sort-by-dropdown-wrap">
                        <span> {{productsStore.type_name}} <i class="fi-rs-angle-small-down"></i></span>
                    </div>
                </div>
                <div class="sort-by-dropdown" :class="{show: productsStore.is_show}">
                    <ul>
                        <li><a :class="{ active : productsStore.active_sort_2 == 0 }" href="#" @click.prevent="changeSortByProduct(0,'All')">All</a></li>
                        <li><a :class="{ active : productsStore.active_sort_2 == 1 }" href="#" @click.prevent="changeSortByProduct(1,'Low to High')">Price: Low to High</a></li>
                        <li><a :class="{ active : productsStore.active_sort_2 == 2 }" href="#" @click.prevent="changeSortByProduct(2,'High to Low')">Price: High to Low</a></li>
                        <li><a :class="{ active : productsStore.active_sort_2 == 3 }" href="#" @click.prevent="changeSortByProduct(3,'Featured')" >Featured</a></li>
                        <li><a :class="{ active : productsStore.active_sort_2 == 4 }" href="#" @click.prevent="changeSortByProduct(4,'Release Date')">Release Date</a></li>
                        <li><a :class="{ active : productsStore.active_sort_2 == 5 }" href="#" @click.prevent="changeSortByProduct(5,'Avg. Rating')">Avg. Rating</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row product-grid">
        <div class="col-lg-1-5 col-md-4 col-12 col-sm-6" v-if="productsItems?.length" v-for="item in productsItems">
            <product-list-card :item="item"></product-list-card>
        </div>
    </div>

    <vue-pagination  :pagination="productsStore.paginationData"
                     @paginate="getProductsItems()"
                     :offset="2">
    </vue-pagination>

</template>

<script setup>
import {ref, computed} from 'vue'
import { useProductsStore } from '@/js/stores/web/products'
import VuePagination from './Pagination.vue';

const productsStore = useProductsStore()
const props = defineProps({
   
    category_id: {
        type: Number,
        default: null
    },
    seller_id: {
        type: Number,
        default: null
    },
})

const productsItems = computed(() => {
    return productsStore.products;
})

getProductsItems();

async function getProductsItems() {
 
    try {
        await productsStore.fetchProducts(props.category_id,props.seller_id)
    } catch (e) {
        // TODO: handle error
    }
}

function  clickSortByLimit (el) {
    productsStore.is_limit_show = false;
    if (!el.target.parentElement.classList.contains("show")) {
        productsStore.is_limit_show = true;
    }
}
function changeSortByLimit (el,limit) {
    productsStore.active_sort_1 = el;
    productsStore.sort_name = limit;
}
function clickSortByProduct (el) {
    productsStore.is_show = false;
    if (!el.target.parentElement.classList.contains("show")) {
        productsStore.is_show = true;
    }
}

async function changeSortByProduct (el,typename) {
    productsStore.active_sort_2 = el;
    productsStore.type_name = typename;
    try {
        let c_id=0;
        if(props.category_id){
            c_id = props.category_id;
        }else{
            c_id = productsStore.category_idd;
        }
        console.log(c_id);
        await productsStore.fetchProducts(c_id,props.seller_id);
       
    } catch (e) {
        console.log(e);

    }
}

</script>



