<template>
    <div class="product-cart-wrap mb-30">
        <div class="product-img-action-wrap">
            <div class="product-img product-img-zoom">
                <a :href="'/product/' + itemList.slug">
                    <img class="default-img" alt="SmallMall" v-if="itemList?.medias?.length" :src="itemList.medias[0].full_url"  />
                    <img alt="SmallMall" v-else src="/web-assets/imgs/shop/product-1-1.jpg" /> 
                    <img class="hover-img" alt="SmallMall" v-if="itemList?.medias?.length" :src="itemList.medias[0].full_url"  />
                </a>
            </div>
            <div class="product-action-1" v-if="user_id">
                <a aria-label="Add To Wishlist" v-if="itemList.is_wishlist == false" class="action-btn" href="#" @click.prevent="addItemToWishlist()"><i class="fi-rs-heart"></i></a>
                
                <a aria-label="Remove From Wishlist" v-else="itemList.is_wishlist == true" class="action-btn remove-wishlist" href="#" @click.prevent="removeItemFromWishlist(itemList.wishlist_id)"><i class="fi-rs-heart"></i></a>

                <!-- <a aria-label="Quick view" class="action-btn" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a> -->
            </div>
            <div class="product-badges product-badges-position product-badges-mrg">
                <span class="hot">{{ itemList.subtitle }}</span>
            </div>
        </div>
        <div class="product-content-wrap">
            <div class="product-category">
                <a :href="'/product/category/' + itemList.category.slug">{{ itemList.category.name }}</a>
            </div>
            <h2><a :href="'/product/' + itemList.slug">{{ itemList.title }}</a></h2>
            <div class="product-rate-cover">
                <div class="product-rate d-inline-block">
                    <div class="product-rating" style="width: 100%" v-if="itemList.avg_rating==5"></div>
                    <div class="product-rating" style="width: 90%" v-if="itemList.avg_rating>5 && itemList.avg_rating>4"></div>
                    <div class="product-rating" style="width: 80%" v-if="itemList.avg_rating==4"></div>
                    <div class="product-rating" style="width: 70%" v-if="itemList.avg_rating<4 && itemList.avg_rating>3"></div>
                    <div class="product-rating" style="width: 60%" v-if="itemList.avg_rating==3"></div>
                    <div class="product-rating" style="width: 50%" v-if="itemList.avg_rating<3 && itemList.avg_rating>2"></div>
                    <div class="product-rating" style="width: 40%" v-if="itemList.avg_rating==2"></div>
                    <div class="product-rating" style="width: 30%" v-if="itemList.avg_rating<2 && itemList.avg_rating>1"></div>
                    <div class="product-rating" style="width: 20%" v-if="itemList.avg_rating==1"></div>
                    <div class="product-rating" style="width: 10%" v-if="itemList.avg_rating<1 && itemList.avg_rating>0"></div>
                </div>
                <span class="font-small ml-5 text-muted"> ({{ itemList.avg_rating }})</span>
            </div>
            <div>
                <span class="font-small text-muted">By <a href="#">{{itemList.seller.name}}</a></span>
            </div>
            <div class="product-card-bottom" v-if="itemList.selling_price > 0">
                <div class="product-price">
                    <span>${{ itemList.selling_price }}</span>
                    <span class="old-price">${{ itemList.display_price }}</span>
                </div>
        
                <div class="detail-qty list-qty border radius" v-if="itemList.is_cart == false">
                    <a href="#" class="qty-down" @click.prevent="quantityDown($event)"><i class="fi-rs-angle-small-down"></i></a>
                    <input type="text" name="quantity" class="qty-val" v-model="itemList.quantity" min="1">
                    <a href="#" class="qty-up" @click.prevent="quantityUp($event)"><i class="fi-rs-angle-small-up"></i></a>
                </div>
               
            </div>
            <div class="product-card-bottom" v-if="itemList.selling_price > 0">
                <div class="add-cart"  v-if="itemList.is_cart == false">
                    <a class="add" href="#" @click.prevent="addItemToCart()"><i class="fi-rs-shopping-cart mr-5"></i>Add </a>
                </div>
                <div class="remove-cart" v-else="itemList.is_cart == true">
                    <a class="remove" href="#" @click.prevent="removeItemFromCart(itemList.cart_id)"><i class="fi-rs-shopping-cart mr-5"></i>Remove </a>
                </div>
            </div>

            <div class="product-price" v-else>
                <span>Out of Stock</span>
                <div class="remove-cart" v-if="itemList.is_cart == true">
                    <a class="remove" href="#" @click.prevent="removeItemFromCart(itemList.cart_id)"><i class="fi-rs-shopping-cart mr-5"></i>Remove </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {ref, computed} from 'vue'
import { useCartStore } from '@/js/stores/web/cart'
import { useWishlistStore } from '@/js/stores/web/wishlist'

export default {
    props:['item'],
    name: "itemList",
    data() {
        return {
            itemList: this.item,
            user_id : 0,
        };
    },
    mounted(){
        this.user_id = document.getElementById('auth_id').value;
    },
     methods: {

        async quantityUp(event) {
            try {
                this.itemList.quantity = this.itemList.quantity + 1;   
            } catch (e) {
                console.log(e);
            }
        },
        async quantityDown() {
            try {
                 if (this.itemList.quantity > 1) {
                    this.itemList.quantity = this.itemList.quantity - 1;   
                 } else {
                    this.itemList.quantity  = 1;
                 }
            } catch (e) {
                console.log(e);
            }
        },

        async getProductsItemsByIds(){
            try {
                const response = await axios.post("/api/products/"+this.itemList.id);
                if (response.data.success) {
                    this.itemList = response.data.data;
                } else if (response.data.error) {
                    console.log(e);
                }
            } catch (e) {
                console.log(e);
            }
        },
        
        async addItemToCart() {
            try {
                const body = {product_id: this.itemList.id, quantity:this.itemList.quantity  }
                const response = await axios.post("/api/cart/add", body);

                if (response.data.success) {
                    this.getProductsItemsByIds();
                    const cartStore = useCartStore()
                    cartStore.fetchCart();
                } else if (response.data.error) {
                    console.log(e);
                }
            } catch (e) {
                console.log(e);
            }
        },

         async removeItemFromCart(cartId) {
            try {
                const body = { data: [{ id: cartId }] }
                const response = await axios.post("/api/cart/delete", body);

                if (response.data.success) {
                    this.getProductsItemsByIds();
                    const cartStore = useCartStore()
                    cartStore.fetchCart();
                } else if (response.data.error) {
                    console.log(e);
                }
            } catch (e) {
                console.log(e);
            }
        },   

        async addItemToWishlist() {
            
            try {
                const body = {product_id: this.itemList.id}
                const response = await axios.post("/api/wishlist/add", body);

                if (response.data.success) {
                    this.getProductsItemsByIds();
                    const wishlistStore = useWishlistStore()
                    wishlistStore.fetchWishlist();

                } else if (response.data.error) {
                    console.log(e);
                }
            } catch (e) {
                console.log(e);
            }
        },

         async removeItemFromWishlist(wishlistId) {
            try {
                const body = { data: [{ id: wishlistId }] }
                const response = await axios.post("/api/wishlist/delete", body);

                if (response.data.success) {
                    this.getProductsItemsByIds();
                    const wishlistStore = useWishlistStore()
                    wishlistStore.fetchWishlist();
                } else if (response.data.error) {
                    console.log(e);
                }
            } catch (e) {
                console.log(e);
            }
        },
    },
};
</script>
