<template>
    <div class="col-12">
        <div class="row related-products">
            <div class="col-lg-3 col-md-4 col-12 col-sm-6"  v-if="productsItems?.length" v-for="item in productsItems.slice(0, 4)">
                <product-list-card :item="item"></product-list-card>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props:['product_id','category_id'],
  data() {
      return {
          productsItems: [],
      };
  },
  mounted(){
    this.getProductsItems();
  },
   methods: {
      async getProductsItems() {
        try {
            const response = await axios.get("/api/products/"+this.product_id+"/category/"+this.category_id+"/related-products");
            if (response.data.success) {
                this.productsItems = response.data.data;
            } else if (response.data.error) {
                // TODO: handle error
            }
        } catch (e) {
            // TODO: handle error
        }
      },

  },
};
</script>
