<template>
    <form ref="form_1" enctype="multipart/form-data" @submit.prevent="handleSubmit">
        <select class="select-active" v-model="category_id">
            <option value="">All Categories</option>
            <option :value="item.slug" v-for="item in categoriesItems">{{ item.name}}</option>
        </select>        
        <input type="text" name="search_keyword" class="search_keyword" v-on:keyup="this.search_keyword = $event.target.value" v-model="search_keyword" placeholder="Search for items..." />
    </form>
</template>
<script>
export default {
    // props:['category_id','search_keyword'],
    data() {
        let urlParams = new URLSearchParams(window.location.search);
        let category = urlParams.get('category');
        let search = urlParams.get('search');
        return {
            sellersItems: [],
            categoriesItems: [],
            category_id: category ? category : '',
            search_keyword:search ? search : ''
        };
    },
    mounted(){
        this.getCategoriesItems();
        let self = this;
        $('.select-active').select2().on("change", function() {
            self.onSelectChange(this.value);
        });
    },
     methods: {
        onSelectChange(val) {
            this.category_id = val;
        },
        // async getSellersItems() {
        //     try {
        //         const response = await axios.get("/api/seller");
        //         if (response.data.success) {
        //             this.sellersItems = response.data.data;
        //         } else if (response.data.error) {
        //             // TODO: handle error
        //         }
        //     } catch (e) {
        //         // TODO: handle error
        //     }
        // },
        async getCategoriesItems() {
            try {
                const response = await axios.get("/api/category");
                if (response.data.success) {
                    this.categoriesItems = response.data.data;
                } else if (response.data.error) {
                    // TODO: handle error
                }
            } catch (e) {
                // TODO: handle error
            }
        },

        async handleSubmit() {
            
            try {
                new Promise((resolve, reject) => {
                    window.location.href = "/shop?search="+this.search_keyword+"&category="+this.category_id;
                })
            } catch (err) {
            // TODO: handle err
            } finally {

            }
        }

    },
};
</script>