<template>
    <div class="alert alert-danger position-relative" role="alert">
        <ul>
            <li v-for="(err,i) in errors" :key="i">
               {{ err }}
            </li>
        </ul>
    </div>
</template>

<script setup>
const emit = defineEmits(['close'])

const props = defineProps({
    errors: {
        type: [Object, Array],
        default: null
    }
})
</script>
