<template>
    <div class="col-xl-3 col-lg-4 col-md-6" v-if="productsItems?.length" v-for="item in productsItems.slice(0, 4)">
        <top-category-product-card :item="item"></top-category-product-card>
   </div>
</template>

<script>
export default {
  data() {
      return {
          productsItems: [],
          user_id : 0,
      };
  },
  mounted(){
      this.getProductsItems();
      this.user_id = document.getElementById('auth_id').value;
  },
   methods: {
      async getProductsItems() {
          try {
                const body = { user_id: this.user_id  }
                const response = await axios.post("/api/home",body);
              if (response.data.success) {
                  this.productsItems = response.data.data.daily_best_sell_featured.data;
              } else if (response.data.error) {
                  // TODO: handle error
              }
          } catch (e) {
              // TODO: handle error
          }
      },

  },
};
</script>
