<template>
   
   <div class="product-cart-wrap style-2 wow animate__animated animate__fadeInUp" data-wow-delay="0">
        <div class="product-img-action-wrap">
            <div class="product-img">
                <a href="/shop">
                    <img src="web-assets/imgs/banner/banner-5.png" alt="" />
                </a>
            </div>
        </div>
        <div class="product-content-wrap" style="margin-top: -140px;">
            <div class="deals-content">
                <h2><a :href="'/product/' + itemList.slug">{{ itemList.title }}</a></h2>
                <div class="product-rate-cover">
                    <div class="product-rate d-inline-block">
                        <div class="product-rating" style="width: 100%" v-if="itemList.avg_rating==5"></div>
                        <div class="product-rating" style="width: 90%" v-if="itemList.avg_rating>5 && itemList.avg_rating>4"></div>
                        <div class="product-rating" style="width: 80%" v-if="itemList.avg_rating==4"></div>
                        <div class="product-rating" style="width: 70%" v-if="itemList.avg_rating<4 && itemList.avg_rating>3"></div>
                        <div class="product-rating" style="width: 60%" v-if="itemList.avg_rating==3"></div>
                        <div class="product-rating" style="width: 50%" v-if="itemList.avg_rating<3 && itemList.avg_rating>2"></div>
                        <div class="product-rating" style="width: 40%" v-if="itemList.avg_rating==2"></div>
                        <div class="product-rating" style="width: 30%" v-if="itemList.avg_rating<2 && itemList.avg_rating>1"></div>
                        <div class="product-rating" style="width: 20%" v-if="itemList.avg_rating==1"></div>
                        <div class="product-rating" style="width: 10%" v-if="itemList.avg_rating<1 && itemList.avg_rating>0"></div>
                    </div>
                    <span class="font-small ml-5 text-muted"> ({{ itemList.avg_rating }})</span>
                </div>
                <div>
                    <span class="font-small text-muted">By <a href="#">{{ itemList.seller.name }}</a></span>
                </div>
                <div class="product-card-bottom" v-if="itemList.selling_price > 0">
                    <div class="product-price">
                        <span>${{ itemList.selling_price }}</span>
                        <span class="old-price">${{ itemList.display_price }}</span>
                    </div>
                    <div class="add-cart">
                        <a href="#"  @click.prevent="addItemToCart()" class="add"  v-if="itemList.is_cart == false"><i class="fi-rs-shopping-cart mr-5"></i>Add</a>
                    </div>
                    <div class="remove-cart">
                        <a class="remove" v-if="itemList.is_cart == true" href="#" @click.prevent="removeItemFromCart(itemList.cart_id)"><i class="fi-rs-shopping-cart mr-5"></i>Remove </a>
                    </div>
                </div>

                <div class="product-price" v-else>
                    <span>Out of Stock</span>
                    <div class="remove-cart" v-if="itemList.is_cart == true">
                        <a class="remove" href="#" @click.prevent="removeItemFromCart(itemList.cart_id)"><i class="fi-rs-shopping-cart mr-5"></i>Remove </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    props:['item'],
    name: "itemList",
    data() {
        return {
            itemList: this.item,
            user_id : 0,
        };
    },
    mounted(){
      this.user_id = document.getElementById('auth_id').value;
    },
    methods: {

        async getProductsItemsByIds(){
            try {
                const body = { user_id: this.user_id}
                const response = await axios.post("/api/products/"+this.itemList.id,body);
                if (response.data.success) {
                    this.itemList = response.data.data;
                } else if (response.data.error) {
                    console.log(e);
                }
            } catch (e) {
                console.log(e);
            }
        },
        
        async addItemToCart() {
            try {
                const body = { product_id: this.itemList.id, quantity:1 }
                const response = await axios.post("/api/cart/add", body);

                if (response.data.success) {
                    this.getProductsItemsByIds();
                } else if (response.data.error) {
                    console.log(e);
                }
            } catch (e) {
                console.log(e);
            }
        },

         async removeItemFromCart(cartId) {
            try {
                const body = { data: [{ id: cartId }] }
                const response = await axios.post("/api/cart/delete", body);

                if (response.data.success) {
                    this.getProductsItemsByIds();
                } else if (response.data.error) {
                    console.log(e);
                }
            } catch (e) {
                console.log(e);
            }
        },   
    },
};
</script>

