<template>
     <div class="product-list-small animated animated">
        <article class="row align-items-center hover-up"  v-if="productsItems?.length" v-for="item in productsItems.slice(0, 3)">
            <home-product-list :item="item"></home-product-list>

        </article>
    </div>
</template>

<script>
export default {
   data() {
       return {
           productsItems: [],
           user_id : 0,
       };
   },
   mounted(){
       this.getProductsItems();
       this.user_id = document.getElementById('auth_id').value;
   },
    methods: {
       async getProductsItems() {
           try {
                const body = { user_id: this.user_id   }
                const response = await axios.post("/api/home",body);
               if (response.data.success) {
                   this.productsItems = response.data.data.top_selling.data;
               } else if (response.data.error) {
                   // TODO: handle error
               }
           } catch (e) {
               // TODO: handle error
           }
       },

   },
};
</script>
