<template>
     <div class="row mb-50">
        <div class="col-12 col-lg-8 mx-auto">
            <div class="shop-product-fillter">
                <div class="totall-product">
                    <p>We have <strong class="text-brand">{{ vendorsStore.totalVendors }}</strong> vendors now</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row vendor-grid">
        <div class="col-lg-3 col-md-6 col-12 col-sm-6" v-if="vendorsItems?.length" v-for="item in vendorsItems">
            <div class="vendor-wrap mb-40">
                <div class="vendor-img-action-wrap">
                    <div class="vendor-img">
                        <a :href="'/product/vendor/'+item.id">
                            <img class="default-img" v-if="item.profile_image" :src="item.profile_image" alt="" />
                            <img class="default-img" v-else src="web-assets/imgs/vendor/vendor-1.png" alt="" />                                    </a>
                    </div>
                    <!-- <div class="product-badges product-badges-position product-badges-mrg">
                        <span class="hot">Mall</span>
                    </div> -->
                </div>
                <div class="vendor-content-wrap">
                    <div class="d-flex justify-content-between align-items-end mb-30">
                        <div>
                            <!-- <div class="product-category">
                                <span class="text-muted">Since 2012</span>
                            </div> -->
                            <h4 class="mb-5"><a :href="'/product/vendor/'+item.id">{{item.name}}</a></h4>
                            <div class="product-rate-cover">
                                <div class="product-rate d-inline-block">
                                    <div class="product-rating" style="width: 90%"></div>
                                </div>
                                <span class="font-small ml-5 text-muted"> (4.0)</span>
                            </div>
                        </div>
                        <div class="mb-10">
                            <span class="font-small total-product">{{item.total_product}} products</span>
                        </div>
                    </div>
                    <div class="vendor-info mb-30">
                        <ul class="contact-infor text-muted">
                            <li><img src="web-assets/imgs/theme/icons/icon-email-2.svg" alt="" /><strong>Email Us:</strong><span> {{item.email}}</span></li>
                            <li><img src="web-assets/imgs/theme/icons/icon-contact.svg" alt="" /><strong>Call Us:</strong><span> {{item.mobile}}</span></li>
                        </ul>
                    </div>
                    <a :href="'/product/vendor/'+item.id" class="btn btn-xs">Visit Store <i class="fi-rs-arrow-small-right"></i></a> &nbsp;&nbsp;
                    <span v-if="is_auth">
                        <a v-if="item.is_subscribed == 0" @click.prevent="handleSubscription(item.id)" class="btn btn-subscribe btn-xs ms-2 float-end">Subscribe</a>
                        <a v-else @click.prevent="handleSubscription(item.id)" class="btn btn-unsubscribe btn-xs ms-2 float-end">Unsubscribe</a>
                    </span>
                    <span v-else>
                        <a :href="'login'" class="btn btn-subscribe btn-xs ms-2 float-end">Subscribe</a>
                    </span>
                </div>
            </div>
        </div>


        <!--end vendor card-->
    </div>
    <vue-pagination  :pagination="vendorsStore.paginationData"
                     @paginate="getVendorItems()"
                     :offset="2">
    </vue-pagination>

</template>

<script setup>
import {ref, computed} from 'vue'
import { useVendorsStore } from '@/js/stores/web/vendor'
import VuePagination from './Pagination.vue';

const vendorsStore = useVendorsStore()

const props = defineProps({
    is_auth: {
        type: Number,
        default: null
    },
})

const vendorsItems = computed(() => {
    return vendorsStore.vendor;
})

getVendorItems();

async function getVendorItems() {
    try {
        await vendorsStore.fetchVendors()
    } catch (e) {
        // TODO: handle error
    }
}

async function handleSubscription(id) {
    try {
        await vendorsStore.handleSubscription(id)
    } catch (e) {
        // TODO: handle error
    }
}


</script>



