<template>
    <div class="row">
        <div class="col-xl-10 col-lg-12 m-auto">
            <div class="mb-50">
                <h1 class="heading-2 mb-10">Your Wishlist</h1>
                <h6 class="text-body">There are <span class="text-brand">{{wishlistItems.length}}</span> products in this list</h6>
            </div>
            <div class="table-responsive shopping-summery">
                <table class="table table-wishlist">
                    <thead>
                        <tr class="main-heading">
                            <!-- <th class="custome-checkbox start pl-30">
                                <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox11" value="" />
                                <label class="form-check-label" for="exampleCheckbox11"></label>
                            </th> -->
                            <th class="pl-30" scope="col" colspan="2">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Stock Status</th>
                            <th scope="col">Action</th>
                            <th scope="col" class="end">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="pt-30" v-if="wishlistItems?.length" v-for="item in wishlistItems">
                            <wishlist-table :itemList="item" ></wishlist-table>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
<script setup>
import {ref, computed} from 'vue'
import { useWishlistStore } from '@/js/stores/web/wishlist'

const wishlistStore = useWishlistStore()
const props = defineProps({
    user_id: {
        type: Number,
        default: null
    },
})
const wishlistItems = computed(() => {
    return wishlistStore.wishlists;
})

getWishlistItems();

async function getWishlistItems() {
    try {
        await wishlistStore.fetchWishlist()
    } catch (e) {
        // TODO: handle error
    }
}

</script>
