<template>
    <!-- <td class="custome-checkbox pl-30">
        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox1" value="" />
        <label class="form-check-label" for="exampleCheckbox1"></label>
    </td> -->
    <td class="image product-thumbnail  pl-30 pt-40">
        <img alt="SmallMall" v-if="itemList.product?.medias?.length" :src="itemList.product.medias[0].full_url" />
        <img alt="SmallMall" v-else src="/web-assets/imgs/shop/thumbnail-3.jpg" />                         
    </td>
    <td class="product-des product-name">
        <h6 class="mb-5"><a class="product-name mb-10 text-heading" :href="'/product/' + itemList.product.slug">{{ itemList.product.title }}</a></h6>
        <div class="sellers">
            <span class="font-small text-muted">By <a href="vendor-details-1.html">{{ itemList.product.seller.name }}</a></span>
        </div>
    </td>
    <td class="price" data-title="Price">
            <h4 class="text-body">${{ itemList.product.selling_price }} </h4>
    </td>
    <td class="detail-info" data-title="Stock" v-if="itemList.product.selling_price > 0">
        <span class="stock-status in-stock mb-0"> In Stock </span>
    </td>
    <td class="detail-info" data-title="Stock" v-else>
        <span class="stock-status in-stock mb-0"> Out of Stock </span>
    </td>
    <td class="text-right" data-title="Cart">
        <button class="btn btn-sm" v-if="itemList.product.selling_price > 0"  @click.prevent="addItemToCart(itemList.id)">Add to cart</button>
    </td>
    <td class="action" data-title="Remove"><a href="#" @click.prevent="removeItemFromwishlist(itemList.id)" class="text-body"><i class="fi-rs-trash"></i></a></td>         
</template>

<script setup>
    import {ref} from 'vue'
    import { useWishlistStore } from '@/js/stores/web/wishlist'

    const wishlistStore = useWishlistStore()
    const props = defineProps({
        itemList: {
            type: Object,
            default: null
        },
    })

    async function addItemToCart(itemId) {
        try {
            const body = {product_id: props.itemList.product.id, quantity:1}
            const response = await axios.post("/api/cart/add", body);
            if (response.data.success) {
                removeItemFromwishlist(itemId);
            } else if (response.data.error) {
                console.log(e);
            }
        } catch (e) {
            console.log(e);
        }
    }

    async function removeItemFromwishlist(itemId) {
        try {
            const body = {data: [{ id: itemId }] }
            const response = await axios.post("/api/wishlist/delete", body);

            if (response.data.success) {
                wishlistStore.fetchWishlist();
            } else if (response.data.error) {
                // TODO: handle error
            }
        } catch (e) {
            // TODO: handle error
        }
    }
</script>
