<template>
    <a href="/wishlist">
        <img class="svgInject" alt="SmallMall" src="/web-assets/imgs/theme/icons/icon-heart.svg" />
        <span class="pro-count blue">{{totalAmount}}</span>
    </a>
    <a href="/wishlist"><span class="lable">Wishlist</span></a>
</template>
<script setup>
import {ref, computed} from 'vue'
import { useWishlistStore } from '@/js/stores/web/wishlist'

const wishlistStore = useWishlistStore()
const props = defineProps({
    user_id: {
        type: Number,
        default: null
    },
})
const totalAmount = computed(() => {
    return  wishlistStore.totalAmount;
})

getWishlistItems();

async function getWishlistItems() {
    try {
        await wishlistStore.fetchWishlist()
    } catch (e) {
        // TODO: handle error
    }
}

</script>