<script setup>
import TopProductHeader from './components/TopProductHeader.vue';
import TopProductList from './components/TopProductList.vue';

const props = defineProps({
  is_admin: {
    type: Number,
    default: null
  },
})

</script>

<template>
  <TopProductHeader :is_admin="is_admin"/>
  <TopProductList :is_admin="is_admin"/>
</template>
