<script setup>
import ProductHeader from './components/ProductHeader.vue';
import ProductList from './components/ProductList.vue';

const props = defineProps({
  is_admin: {
    type: Number,
    default: null
  },
})

</script>

<template>
  <ProductHeader :is_admin="is_admin"/>
  <ProductList :is_admin="is_admin"/>
</template>
