<template>
  <section class="content-main">
    <div class="content-header">
            <h2 class="content-title"> Subscription Details</h2>
        </div>
    
    <div class="card mb-4">
 
      <div class="card-body">
        <div class="invoice-inner">
          <div class="invoice-info" id="invoice_wrapper">
              <div class="invoice-header">
                  <div class="row">
                      <div class="col-lg-6 col-md-6">
                          <div class="logo" style="display:none">
                              <a href="/"><img src="/web-assets/imgs/theme/logo.webp" alt="logo" /></a>
                          </div>
                          <p class="invoice-addr-1 mt-10">
                              <strong>Name:</strong> {{subscription.user.name}} <br>
                              <strong>Email:</strong> {{subscription.user.email}}<br>
                              <strong>Subscription Id: </strong> <strong class="text-brand">{{subscription.subscription_id}}</strong><br>
                              <strong>Subscription date: </strong>{{subscription.created_at}}<br>

                          </p>
                      </div>
                      <div class="col-lg-6 col-md-6">
                          <div class="invoice-number">
                              <p class="invoice-addr-1">
                                <strong>Plan Id:</strong> <strong class="text-brand">{{subscription.pg_plan_id}}</strong><br>
                                <strong>Plan:</strong> <strong class="text-brand">{{subscription.plan.title}}</strong> <br>
                                <strong>Price:</strong> ${{subscription.plan.price}}<br>
                                <strong>Status:</strong> <span v-if="subscription.status==0">Pending</span>
                                <span v-else-if="subscription.status==1">Succeed</span>
                                <span v-else>Failed</span><br>
                              </p>
                          </div>
                      </div>
             
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  </template>
  
  <script setup>

    const props = defineProps({
      subscription: {
        type: Object,
        default: null
      },
    })
  </script>
  
  
  