<template>
<section class="content-main">
    <div class="content-header">
        <h2 class="content-title">Edit Order Status</h2>
    </div>

    <div class="card">
        <header class="card-header">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                    <span> <i class="material-icons md-calendar_today"></i> <b>{{ order.created_at.split('T')[0] }}</b> </span> <br />
                    <small class="text-muted">Order ID: {{ order.order_id }}</small>
                </div>
            </div>
        </header>
        <!-- card-header end// -->
        <div class="card-body">
            <div class="row mb-50 mt-20 order-info-wrap">
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-person"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Customer</h6>
                            <p class="mb-1">
                                {{ order.user.name }} <br />
                                {{ order.user.email }} <br />
                                {{ order.user.mobile ? '+91' : '' }} {{ order.user.mobile }}
                            </p>
                        </div>
                    </article>
                </div>
                <!-- col// -->
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-local_shipping"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Order info</h6>
                            <p class="mb-1">
                                Shipping: {{ order.billing_address.add_1 }} <br />
                                Pay method: {{ order.payment_type }} <br />
                                Transaction Id: {{ order.transaction_id }}
                            </p>
                        </div>
                    </article>
                </div>
                <!-- col// -->
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-place"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Deliver to</h6>
                            <p class="mb-1">
                                Name: {{ order.user.name }} <br>
                                Add: {{ order.shipping_address.add_1 }}<br />
                                {{ order.shipping_address.add_2 }}
                            </p>
                        </div>
                    </article>
                </div>
                <!-- col// -->
            </div>
            <!-- row // -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="40%">Product</th>
                                    <th width="10%">Unit Price</th>
                                    <th width="10%">Quantity</th>
                                    <th width="10%" class="text-end">Total</th>
                                    <th width="15%" class="text-end">Status</th>
                                    <th width="15%" class="text-end">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(oit, i) in order.order_items" :key="i">
                                    <td>
                                        <a class="itemside" href="#">
                                            <!-- <div class="left">
                                                <img src="assets/imgs/items/1.jpg" width="40" height="40" class="img-xs" alt="Item" />
                                            </div> -->
                                            <div class="info">{{ oit.product.title }}</div>
                                        </a>
                                    </td>
                                    <td>${{ oit.product.selling_price }}</td>
                                    <td>{{ oit.quantity }}</td>
                                    <td class="text-end">${{ oit.product.selling_price * oit.quantity }}</td>
                                    <td>
                                        <span v-if="oit.status == 0" class="badge rounded-pill bg-primary float-end">Order Placed</span>
                                        <span v-else-if="oit.status == 1" class="badge rounded-pill bg-info float-end">Order Confirmed</span>
                                        <span v-else-if="oit.status == 2" class="badge rounded-pill bg-secondary float-end">Order Processing</span>
                                        <span v-else-if="oit.status == 3" class="badge rounded-pill bg-success float-end">Order Shipped</span>
                                        <span v-else-if="oit.status == 4" class="badge rounded-pill bg-warning float-end">Order On Hold</span>
                                        <span v-else-if="oit.status == 5" class="badge rounded-pill bg-light float-end">Order Completed</span>
                                        <span v-else-if="oit.status == 6" class="badge rounded-pill bg-danger float-end">Order Cancelled</span>
                                    </td>
                                    <td>
                                        <select @change="changeStatus($event, oit.id)" class="form-control" id="orderStatus" name="orderStatus" v-model="oit.status">
                                            <!-- <option >Change Status</option> -->
                                            <option v-show="oit.status < 1" value="1">Order Confirmed</option>
                                            <option v-show="oit.status < 2" value="2">Order Processing</option>
                                            <option v-show="oit.status < 3" value="3">Order Shipped</option>
                                            <option v-show="oit.status < 4" value="4">Order On Hold</option>
                                            <option v-show="oit.status < 5" value="5">Order Completed</option>
                                            <option v-show="oit.status < 6" value="6">Order Cancelled</option>
                                        </select>
                                    </td>
                                </tr>

                                <tr> <td colspan="6"></td> </tr>
                                <tr>
                                    <td colspan="6">
                                        <article class="float-end">
                                            <dl class="dlist">
                                                <dt>Subtotal:</dt>
                                                <dd>${{ order.total_amount }}</dd>
                                            </dl>
                                            <dl v-if="order.coupon_discount" class="dlist">
                                                <dt>Coupon discount:</dt>
                                                <dd>- ${{ order.coupon_discount }}</dd>
                                            </dl>
                                            <dl v-if="order.shipping_charge" class="dlist">
                                                <dt>Shipping cost:</dt>
                                                <dd>+ ${{ order.shipping_charge }}</dd>
                                            </dl>
                                            <dl class="dlist">
                                                <dt>Grand total:</dt>
                                                <dd><b class="h5">${{ parseInt(order.shipping_charge - order.coupon_discount + order.total_amount) }}</b></dd>
                                            </dl>
                                        </article>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- table-responsive// -->
                </div>
                <!-- col// -->
                <!-- <div class="col-lg-1"></div> -->
                <!-- <div class="col-lg-3">
                    <div class="box shadow-sm bg-light">
                        <h6 class="mb-15">Payment info</h6>
                        <p>
                            Sub Total: {{ order.total_amount }} <br />
                            <strong class="text-muted" v-if="order.coupon_discount">Coupon: <span>-${{ order.coupon_discount }}</span></strong> <br>
                            <strong class="text-muted" v-if="order.shipping_charge">Shipping Charge: <span >+${{ order.shipping_charge }}</span></strong> <br>
                            <strong class="fw-bold">Total: <span> ${{ parseInt(order.shipping_charge - order.coupon_discount + order.total_amount) }}</span></strong> <br>
                        </p>
                    </div>
                </div> -->
                <!-- col// -->
            </div>
        </div>
        <!-- card-body end// -->
    </div>

</section>
</template>

<script setup>
import swal from 'sweetalert';
import { useOrderStore } from '@/js/stores/order'
import toastr from "toastr";

const orderStore = useOrderStore()

const props = defineProps({
    order: {
        type: Object,
        default: null
    },
})

async function changeStatus(event, id) {
    swal({
        title: "Are you sure?",
        text: "Do you want to change the status of this order",
        icon: "warning",
        buttons: true,
        dangerMode: true,
    })
    .then(async (willApprove) => {
        if (willApprove) {
            try {
                await orderStore.changeOrderStatus({status: event.target.value, orderItem: id})
                toastr.success('Order status changed successfully', 'Success')
                window.location.reload();
            } catch (e) {
                // TODO: handle error
            } finally {

            }
        }
    });
}
</script>
