<template>
    <div class="card mb-4">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Order ID</th>
                <th>User</th>
                <th>Amount</th>
                <th>Payment Type</th>
                <th>Transaction Id</th>
                <th>Transaction Status</th>
                <th class="text-end">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="isLoading">
                <td class="text-center" colspan="6">
                  Loading Orders...
                </td>
              </tr>

              <tr v-if="!isLoading && !orderStore.searchQuery?.length && !orderStore.orders.length">
                <td class="text-center" colspan="6">
                  No Orders yet!
                </td>
              </tr>

              <tr v-if="!isLoading && orderStore.searchQuery?.length && !filteredOrders.length">
                <td class="text-center" colspan="6">
                  No Orders found!
                </td>
              </tr>

              <tr  v-for="(order,i) in filteredOrders" :key="i">
                <td>
                  <a :href="'/admin/orders/'+order.id+'/details'" class="itemside">
                    <div>
                      <h5 class="mb-0 title">{{ order.order_id }}</h5>
                    </div>
                  </a>
                </td>
                <td>
                        <div>
                            <h5 class="mb-0 title">{{ order.user.name }}</h5>
                        </div>
                </td>
                <td>
                    <span> <strong>Total: </strong> <span>${{ parseInt(order.shipping_charge - order.coupon_discount + order.total_amount) }}</span> </span> <br>
                </td>
                <td>
                    <span>{{ order.payment_type }}</span>
                </td>
                <td>
                    <span>{{ order.transaction_id }}</span>
                </td>
                <td>
                    <span>{{ order.transaction_status }}</span>
                </td>
                <td class="text-end">
                    <div class="dropdown">
                        <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm">
                            <i class="material-icons md-more_horiz"></i>
                        </a>
                        <div class="dropdown-menu">
                            <a :href="`/admin/orders/${order.id}/edit`" class="dropdown-item">Edit</a>
                        </div>
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div v-if="orderStore.meta.links" class="pagination-area mt-30 mb-50">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-start">
          <li v-for="link in orderStore.meta.links" :class="{ 'page-item': true, 'active': link.active }">
            <button class="page-link" @click="() => handlePageChange(link.label)">{{ link.label.includes('Next') ? '>'
      :
      link.label.includes('Previous') ?
        '<' : link.label
  }}</button>
          </li>
        </ul>
      </nav>
    </div>
  </template>

<script setup>
import swal from 'sweetalert';
import {ref, computed} from 'vue'
import { useOrderStore } from '@/js/stores/order'
import toastr from "toastr";


const currentPage = ref(1)
const isLoading = ref(false)
const orderStore = useOrderStore()

getAllOrders()


const filteredOrders = computed(() => {
    return orderStore.orders.filter(order => {
        const lowerCaseSearchQuery = orderStore.searchQuery.toLowerCase();

        return order.user.name.toLowerCase()
            .includes(lowerCaseSearchQuery) || order.title.toLowerCase().includes(lowerCaseSearchQuery) || order.subtitle?.includes(lowerCaseSearchQuery);
    });
})

async function getAllOrders() {
    try {
        isLoading.value = true
        await orderStore.fetchOrders({page: currentPage.value})
    } catch (e) {
        // TODO: handle error
    } finally {
        isLoading.value = false
    }
}


async function handlePageChange(label) {
    let nextPage = '';
    if (label.includes('Next')) {
        nextPage = currentPage.value + 1;
    } else if (label.includes('Previous')) {
        nextPage = currentPage.value - 1;
    } else {
        nextPage = label;
    }

    if (1 <= nextPage && nextPage <= orderStore.meta.last_page) {
        currentPage.value = nextPage;
        getAllOrders();
    }
}
</script>
