<template>
    <section class="content-main">
        <div class="content-header">
            <h2 class="content-title"> Order Details</h2>
        </div>

        <div class="card">

            <div class="card-body">
                <div class="invoice-inner">
                <div class="invoice-info" id="invoice_wrapper">
                    <div class="invoice-header">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="logo" style="display:none">
                                    <a href="/"><img src="/web-assets/imgs/theme/logo.webp" alt="logo" /></a>
                                </div>
                                <p class="invoice-addr-1 mt-10">
                                    <strong>Order Number:</strong> <strong class="text-brand">#{{order.order_id}}</strong> <br>
                                    <strong>Order Date:</strong> {{order.ordered_at}}<br>
                                    <!-- <strong>Due Date:</strong> Aug 27, 2022 -->
                                </p>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="invoice-number">
                                    <h4 class="invoice-title-1 mb-10">Billing Address</h4>
                                    <p class="invoice-addr-1">
                                        <strong class="text-brand"> {{order.billing_address.full_name}} </strong> <br>
                                        {{order.billing_address.add_1}},{{order.billing_address.add_2}}<br>
                                        {{order.billing_address.city}}, {{order.billing_address.state}}, {{order.billing_address.zip}}<br>
                                        <abbr title="Phone">Phone:</abbr> {{order.billing_address.name}}<br>
                                        <abbr title="Email">Email: </abbr>{{order.user.email}}<br>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="invoice-number">
                                    <h4 class="invoice-title-1 mb-10">Shipping Address</h4>
                                    <p class="invoice-addr-1">
                                        <strong class="text-brand">{{order.shipping_address.full_name}}</strong> <br>
                                        {{order.shipping_address.add_1}},{{order.shipping_address.add_2}}<br>
                                        {{order.shipping_address.city}}, {{order.shipping_address.state}}, {{order.shipping_address.zip}}<br>
                                        <abbr title="Phone">Phone:</abbr> {{order.shipping_address.mobile}}<br>
                                        <abbr title="Email">Email: </abbr>{{order.user.email}}<br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="invoice-center mt-30">
                        <div class="table-responsive">
                            <table class="table table-striped invoice-table">
                                <thead class="bg-active">
                                    <tr>
                                        <th>Item Item</th>
                                        <th class="text-center">Unit Price</th>
                                        <th class="text-right">Confirmation Date</th>
                                        <th class="text-right">Processing Date</th>
                                        <th class="text-right">Shipped Date</th>
                                        <th class="text-right">Completed Date</th>
                                        <!-- <th class="text-right">Canceled Date</th> -->
                                        <th class="text-right">Status</th>
                                        <th class="text-center">Quantity</th>
                                        <th class="text-right">Amount</th>
                                        <th class="text-right">Invoice</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-if="order.order_items?.length" v-for="item in order.order_items">
                                        <td>
                                            <div class="item-desc-1">
                                                <span>{{item.product.title}}</span>
                                                <!-- <small>SKU: FWM15VKT</small> -->
                                            </div>
                                        </td>
                                        <td class="text-center">${{item.product.selling_price}}</td>
                                        <td class="text-right">{{item.confirmed_at}}</td>
                                        <td class="text-right">{{item.assigned_at}}</td>
                                        <td class="text-right">{{item.shipped_date}}</td>
                                        <td class="text-right">{{item.completed_at}}</td>
                                        <!-- <td class="text-right">{{item.cancelled_date}}</td> -->
                                        <td class="text-right">{{item.status_name}}</td>
                                        <td class="text-center">{{item.quantity}}</td>
                                        <td class="text-right">${{item.quantity * item.product.selling_price}}</td>
                                        <td class="text-right"><a :href="'/view-invoice/'+item.id" target="_blank">View</a></td>
                                    </tr>

                                    <tr>
                                    <td colspan="9" class="text-end f-w-600">SubTotal</td>
                                        <td class="text-right">${{order.total_amount}}</td>
                                    </tr>
                                    <!-- <tr>
                                        <td colspan="3" class="text-end f-w-600">Tax</td>
                                        <td class="text-right">$85.99</td>
                                    </tr> -->
                                    <!-- <tr>
                                        <td colspan="3" class="text-end f-w-600">Grand Total</td>
                                        <td class="text-right f-w-600">$1795.99</td>
                                    </tr> -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="invoice-bottom pb-80">
                        <div class="row">
                            <div class="col-md-6">
                                <!-- <h6 class="mb-15">Bank Transfer</h6>
                                <p class="font-sm">
                                    <strong>Account Name:</strong> AliThemes<br>
                                    <strong>Account Number:</strong> 01256398<br>
                                    <strong>Swift Code:</strong> BFTV VNVXS
                                </p> -->
                            </div>
                            <div class="col-md-6 text-end">
                                <h6 class="mb-15">Total Amount</h6>
                                <h3 class="mt-0 mb-0 text-brand">${{order.total_amount}}</h3>
                                <!-- <p class="mb-0 text-muted">Taxes Included</p> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="invoice-btn-section clearfix d-print-none text-center">
                    <a id="invoice_download_btn" class="btn btn-primary"> Download </a>
                </div> -->
                </div>
            </div>
        </div>

    </section>
    </template>

    <script setup>
        const props = defineProps({
            order: {
                type: Object,
                default: null
            },
        })

        populateData()

        async function populateData() {
            console.log(props.order);
        }
    </script>
