<template>
  <div class="content-header">
    <h2 class="content-title">Orders</h2>
    <div>
      <!-- <div>
            <a href="/admin/products/create" class="btn btn-primary">Add Product</a>
        </div> -->
      <input v-model="orderStore.searchQuery" type="text" placeholder="Search Order..." class="form-control bg-white" />
    </div>
  </div>
</template>

<script setup>
import { useOrderStore } from '@/js/stores/order';


const orderStore = useOrderStore()
</script>
